/* screen - contact */

.contact {
  background-color: var(--log-cabin);
  margin: 0.0vw;
  min-height: 121.55vw;
  min-width: 100.0vw;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.contact .group-3-DhmS6L {
  background-color: transparent;
  height: 14.13vw;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  transform: rotate(180deg);
  width: 100%;
}

.contact .rectangle-3-0IFcch {
  bottom: 0.0vw;
  height: 8.43vw;
}

.contact .title-DhmS6L {
  height: 4.06vw;
  left: calc(50.00% - 8.12vw);
  top: 9.29vw;
  width: 16.24vw;
}

.contact .home-CHCxv0 {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.contact .title-Uvsxl4 {
  height: calc(100.00% + 0.16vw);
  left: 0.0vw;
  letter-spacing: 0.0vw;
  line-height: 3.28vw;
  text-align: center;
  top: 0.39vw;
  white-space: nowrap;
  width: calc(100.00% + 0.16vw);
}

.contact .group-2-DhmS6L {
  background-color: transparent;
  bottom: 0.23vw;
  height: 18.03vw;
  left: 0.0vw;
  position: absolute;
  width: 100%;
}

.contact .rectangle-3-yxvNlo {
  height: calc(100.00% - 4.06vw);
  top: 4.06vw;
}

.contact .nav-bar-DhmS6L {
  background-color: transparent;
  height: 6.79vw;
  left: 2.89vw;
  position: absolute;
  top: 0.62vw;
  width: calc(100.00% - 6.48vw);
}

.contact .social-icons-2j15Cb {
  background-color: transparent;
  height: 3.51vw;
  position: absolute;
  right: 0.0vw;
  top: calc(50.00% - 1.72vw);
  width: 9.84vw;
}

.contact .social_-icon_-artstation-yF7cSu {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  pointer-events: auto;
  position: absolute;
  right: 0.0vw;
  top: 0.0vw;
  transition: all 0.2s ease;
  width: 4.53vw;
}

.contact .social_-icon_-artstation-yF7cSu:hover {
  transform: scale(1.1);
}

.contact .icon-awesome-artstation-bz9wKi {
  background-color: transparent;
  height: calc(100.00% - 1.09vw);
  object-fit: cover;
  position: absolute;
  right: calc(46.12% - 1.25vw);
  top: 0.55vw;
  width: 2.81vw;
}

.contact .social_-icon_-linkdin-yF7cSu {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 0.0vw;
  pointer-events: auto;
  position: absolute;
  top: 0.0vw;
  transition: all 0.2s ease;
  width: 5.15vw;
}

.contact .social_-icon_-linkdin-yF7cSu:hover {
  transform: scale(1.1);
}

.contact .icon-linkedin-MJybIr {
  background-color: transparent;
  height: 2.42vw;
  object-fit: cover;
  position: absolute;
  right: calc(49.41% - 1.25vw);
  top: 0.47vw;
  width: 2.5vw;
}

.contact .logo-2j15Cb {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  pointer-events: auto;
  position: absolute;
  right: calc(49.71% - 12.8vw);
  top: 0.0vw;
  transition: all 0.2s ease;
  width: 25.68vw;
}

.contact .logo-2j15Cb:hover {
  transform: scale(0.9); 
}

.contact .mohammed-qamar-uaVrGb {
  background-color: transparent;
  bottom: calc(42.86% - 1.01vw);
  height: 2.42vw;
  left: 0.0vw;
  letter-spacing: 0.0vw;
  line-height: 1.8vw;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 18.19vw;
}

.contact .my-logo_-image-uaVrGb {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0.0vw;
  top: 0.0vw;
  width: 6.64vw;
}

.contact .work-2j15Cb {
  background-color: transparent;
  bottom: calc(45.45% - 1.56vw);
  cursor: pointer;
  height: 3.36vw;
  left: 0.0vw;
  mix-blend-mode: lighten;
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease;
  width: 9.76vw;
}

.contact .work-2j15Cb:hover {
  transform: scale(1.1);
}

.contact .group-25-6xx4ZR {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.contact .work-u7BU8f {
  background-color: transparent;
  height: 2.42vw;
  left: 1.17vw;
  letter-spacing: 0.0vw;
  line-height: 1.8vw;
  position: absolute;
  text-align: left;
  top: 0.62vw;
  white-space: nowrap;
  width: 4.61vw;
}

.contact .icon-awesome-book-u7BU8f {
  background-color: transparent;
  height: 2.11vw;
  object-fit: cover;
  position: absolute;
  right: 1.01vw;
  top: 0.47vw;
  width: 1.87vw;
}

.contact .contact-2j15Cb {
  background-color: transparent;
  bottom: calc(45.45% - 1.56vw);
  cursor: pointer;
  height: 3.36vw;
  left: 9.76vw;
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease;
  width: 13.58vw;
}

.contact .contact-2j15Cb:hover {
  transform: scale(1.1);
}

.contact .contact-9BXl9s {
  background-color: transparent;
  height: 2.42vw;
  left: 1.17vw;
  letter-spacing: 0.0vw;
  line-height: 1.8vw;
  position: absolute;
  text-align: left;
  top: 0.62vw;
  white-space: nowrap;
  width: 7.49vw;
}

.contact .icon-material-contact-mail-9BXl9s {
  background-color: transparent;
  height: 2.11vw;
  object-fit: cover;
  position: absolute;
  right: 1.01vw;
  top: 0.47vw;
  width: 2.81vw;
}

.contact .if-you-have-any-ques-DhmS6L {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-itcavant_garde_gothic_std-demi);
  font-size: 2.42vw;
  font-style: normal;
  font-weight: 400;
  height: 6.25vw;
  letter-spacing: 0.0vw;
  line-height: 2.42vw;
  position: absolute;
  right: calc(49.65% - 32.86vw);
  text-align: center;
  top: calc(18.42% - 1.17vw);
  white-space: nowrap;
  width: 66.2vw;
}

.contact .name_-field-DhmS6L {
  background-color: transparent;
  height: 8.12vw;
  position: absolute;
  right: calc(49.89% - 32.94vw);
  top: calc(28.91% - 2.34vw);
  width: 66.04vw;
}

.contact .name-n3e4eA {
  background-color: transparent;
  height: 2.65vw;
  left: 0.0vw;
  letter-spacing: 0.0vw;
  line-height: 1.95vw;
  position: absolute;
  text-align: center;
  top: 0.31vw;
  white-space: nowrap;
  width: 7.34vw;
}

.contact .group-23-n3e4eA {
  bottom: 0.0vw;
  height: 5.0vw;
  position: absolute;
}

.contact .your-name-v0qusm {
  background-color: transparent;
  border: 0;
  bottom: calc(46.67% - 1.25vw);
  height: 2.65vw;
  left: 2.03vw;
  letter-spacing: 0.0vw;
  line-height: 1.95vw;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: center;
  white-space: nowrap;
  width: 12.65vw;
}

.contact .your-name-v0qusm::placeholder {
  color: #00000099;
}

.contact .email_-field-DhmS6L {
  background-color: transparent;
  height: 8.12vw;
  position: absolute;
  right: calc(49.89% - 32.94vw);
  top: calc(38.82% - 3.12vw);
  width: 66.04vw;
}

.contact .email-address-ExH8hg {
  background-color: transparent;
  height: 2.65vw;
  left: 0.0vw;
  letter-spacing: 0.0vw;
  line-height: 1.95vw;
  position: absolute;
  text-align: left;
  top: 0.31vw;
  white-space: nowrap;
  width: 15.14vw;
}

.contact .group-23-ExH8hg {
  bottom: 0.0vw;
  height: 5.0vw;
  position: absolute;
}

.contact .your-email-address-qpdZ2A {
  background-color: transparent;
  border: 0;
  bottom: calc(46.67% - 1.25vw);
  height: 2.65vw;
  left: 2.03vw;
  letter-spacing: 0.0vw;
  line-height: 1.95vw;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: 20.45vw;
}

.contact .your-email-address-qpdZ2A::placeholder {
  color: #00000099;
}

.contact .email_-field-QYcqwi {
  background-color: transparent;
  bottom: calc(28.95% - 1.56vw);
  cursor: pointer;
  height: 5.31vw;
  pointer-events: auto;
  position: absolute;
  right: calc(49.95% - 7.1vw);
  transition: all 0.2s ease-in;
  width: 14.21vw;
}

.contact .email_-field-QYcqwi:hover {
  transform: scale(0.9); 
}

.contact .group-23-9F3wVe {
  cursor: pointer;
  height: 100%;
  position: relative;
  top: 0.0vw;
}

.contact .send-5HqBRx {
  background-color: transparent;
  bottom: calc(36.76% - 0.94vw);
  height: 2.65vw;
  letter-spacing: 0.0vw;
  line-height: 1.95vw;
  position: absolute;
  right: calc(49.14% - 2.5vw);
  text-align: center;
  white-space: nowrap;
  width: 5.15vw;
}

.contact .email_-field-tqJyG5 {
  background-color: transparent;
  bottom: calc(43.68% - 10.23vw);
  height: 23.42vw;
  position: absolute;
  right: calc(49.89% - 32.94vw);
  width: 66.04vw;
}

.contact .message-yMslZ5 {
  background-color: transparent;
  height: 2.65vw;
  left: 0.0vw;
  letter-spacing: 0.0vw;
  line-height: 1.95vw;
  position: absolute;
  text-align: left;
  top: 0.31vw;
  white-space: nowrap;
  width: 10.3vw;
}

.contact .group-23-yMslZ5 {
  height: calc(100.00% - 3.12vw);
  position: absolute;
  top: 3.12vw;
}

.contact .your-message-BEJl87 {
  background-color: transparent;
  border: 0;
  height: 2.65vw;
  left: 2.03vw;
  letter-spacing: 0.0vw;
  line-height: 1.95vw;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 1.25vw;
  white-space: nowrap;
  width: 15.61vw;
}

.contact .your-message-BEJl87::placeholder {
  color: #00000099;
}

.contact .rectangle-13 {
  background-color: var(--aubergine);
  border: 0.31vw solid;
  border-color: var(--kilamanjaro);
  border-radius: 1.48vw;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.contact .rectangle-2 {
  background-color: var(--kilamanjaro);
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.contact .rectangle-3 {
  background-color: var(--aubergine);
  left: 0.0vw;
  position: absolute;
  width: 100%;
}
/* screen - contact-1 */

.contact-1 {
  background-color: var(--log-cabin);
  margin: 0.0vw;
  min-height: 202.73vw;
  min-width: 100.0vw;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.contact-1 .group-3-k2iDzY {
  background-color: transparent;
  height: 23.57vw;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  transform: rotate(180deg);
  width: 100%;
}

.contact-1 .rectangle-3-DYDXGa {
  bottom: 0.0vw;
  height: 14.06vw;
}

.contact-1 .title-k2iDzY {
  height: 6.77vw;
  left: calc(50.00% - 13.54vw);
  top: 15.49vw;
  width: 27.08vw;
}

.contact-1 .home-oLsuMK {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.contact-1 .title-xAVWUO {
  height: calc(100.00% + 0.26vw);
  left: 0.0vw;
  letter-spacing: 0.0vw;
  line-height: 5.47vw;
  text-align: center;
  top: 0.65vw;
  white-space: nowrap;
  width: calc(100.00% + 0.26vw);
}

.contact-1 .group-2-k2iDzY {
  background-color: transparent;
  bottom: 0.39vw;
  height: 30.08vw;
  left: 0.0vw;
  position: absolute;
  width: 100%;
}

.contact-1 .rectangle-3-MGZxJ5 {
  height: calc(100.00% - 6.77vw);
  top: 6.77vw;
}

.contact-1 .nav-bar-k2iDzY {
  background-color: transparent;
  height: 11.33vw;
  left: 4.82vw;
  position: absolute;
  top: 1.04vw;
  width: calc(100.00% - 10.81vw);
}

.contact-1 .social-icons-NnQaIu {
  background-color: transparent;
  height: 5.86vw;
  position: absolute;
  right: 0.0vw;
  top: calc(50.00% - 2.86vw);
  width: 16.41vw;
}

.contact-1 .social_-icon_-artstation-xuE71I {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  pointer-events: auto;
  position: absolute;
  right: 0.0vw;
  top: 0.0vw;
  transition: all 0.2s ease;
  width: 7.55vw;
}

.contact-1 .social_-icon_-artstation-xuE71I:hover {
  transform: scale(1.1);
}

.contact-1 .icon-awesome-artstation-TrAz95 {
  background-color: transparent;
  height: calc(100.00% - 1.82vw);
  object-fit: cover;
  position: absolute;
  right: calc(46.12% - 2.08vw);
  top: 0.91vw;
  width: 4.69vw;
}

.contact-1 .social_-icon_-linkdin-xuE71I {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 0.0vw;
  pointer-events: auto;
  position: absolute;
  top: 0.0vw;
  transition: all 0.2s ease;
  width: 8.59vw;
}

.contact-1 .social_-icon_-linkdin-xuE71I:hover {
  transform: scale(1.1);
}

.contact-1 .icon-linkedin-Khf9TO {
  background-color: transparent;
  height: 4.04vw;
  object-fit: cover;
  position: absolute;
  right: calc(49.41% - 2.08vw);
  top: 0.78vw;
  width: 4.17vw;
}

.contact-1 .logo-NnQaIu {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  pointer-events: auto;
  position: absolute;
  right: calc(31.03% - 8.46vw);
  top: 0.0vw;
  transition: all 0.2s ease;
  width: 27.08vw;
}

.contact-1 .logo-NnQaIu:hover {
  transform: scale(0.9); 
}

.contact-1 .mohammed-qamar-dK72y3 {
  background-color: transparent;
  bottom: calc(32.43% - 2.08vw);
  height: 6.51vw;
  left: 0.0vw;
  letter-spacing: 0.0vw;
  line-height: 2.47vw;
  position: absolute;
  text-align: right;
  white-space: nowrap;
  width: 16.28vw;
}

.contact-1 .my-logo_-image-dK72y3 {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0.0vw;
  top: 0.0vw;
  width: 11.07vw;
}

.contact-1 .work-NnQaIu {
  background-color: transparent;
  bottom: calc(45.45% - 2.6vw);
  cursor: pointer;
  height: 5.6vw;
  left: 0.0vw;
  mix-blend-mode: lighten;
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease;
  width: 16.28vw;
}

.contact-1 .work-NnQaIu:hover {
  transform: scale(1.1);
}

.contact-1 .group-25-A9kseE {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.contact-1 .work-sA80LM {
  background-color: transparent;
  height: 4.04vw;
  left: 1.95vw;
  letter-spacing: 0.0vw;
  line-height: 2.99vw;
  position: absolute;
  text-align: left;
  top: 1.04vw;
  white-space: nowrap;
  width: 7.68vw;
}

.contact-1 .icon-awesome-book-sA80LM {
  background-color: transparent;
  height: 3.52vw;
  object-fit: cover;
  position: absolute;
  right: 1.69vw;
  top: 0.78vw;
  width: 3.12vw;
}

.contact-1 .contact-NnQaIu {
  background-color: transparent;
  bottom: calc(45.45% - 2.6vw);
  cursor: pointer;
  height: 5.6vw;
  left: calc(24.46% - 5.6vw);
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease;
  width: 22.66vw;
}

.contact-1 .contact-NnQaIu:hover {
  transform: scale(1.1);
}

.contact-1 .contact-9R6jxw {
  background-color: transparent;
  height: 4.04vw;
  left: 1.95vw;
  letter-spacing: 0.0vw;
  line-height: 2.99vw;
  position: absolute;
  text-align: left;
  top: 1.04vw;
  white-space: nowrap;
  width: 12.5vw;
}

.contact-1 .icon-material-contact-mail-9R6jxw {
  background-color: transparent;
  height: 3.52vw;
  object-fit: cover;
  position: absolute;
  right: 1.69vw;
  top: 0.78vw;
  width: 4.69vw;
}

.contact-1 .if-you-have-any-ques-k2iDzY {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-itcavant_garde_gothic_std-demi);
  font-size: 4.04vw;
  font-style: normal;
  font-weight: 400;
  height: 15.49vw;
  letter-spacing: 0.0vw;
  line-height: 4.04vw;
  position: absolute;
  right: calc(49.70% - 28.39vw);
  text-align: center;
  top: calc(18.43% - 2.86vw);
  white-space: nowrap;
  width: 57.03vw;
}

.contact-1 .name_-field-k2iDzY {
  background-color: transparent;
  height: 13.54vw;
  left: 13.93vw;
  position: absolute;
  top: calc(28.91% - 3.91vw);
  width: calc(100.00% - 25.39vw);
}

.contact-1 .name-xULkul {
  background-color: transparent;
  height: 4.43vw;
  left: 0.0vw;
  letter-spacing: 0.0vw;
  line-height: 3.26vw;
  position: absolute;
  text-align: center;
  top: 0.52vw;
  white-space: nowrap;
  width: 12.24vw;
}

.contact-1 .group-23-xULkul {
  bottom: 0.0vw;
  height: 8.33vw;
  position: absolute;
}

.contact-1 .your-name-Lp4sgx {
  background-color: transparent;
  border: 0;
  bottom: calc(46.67% - 2.08vw);
  height: 4.43vw;
  left: 3.39vw;
  letter-spacing: 0.0vw;
  line-height: 3.26vw;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: center;
  white-space: nowrap;
  width: 21.09vw;
}

.contact-1 .your-name-Lp4sgx::placeholder {
  color: #00000099;
}

.contact-1 .email_-field-k2iDzY {
  background-color: transparent;
  height: 13.54vw;
  left: 13.93vw;
  position: absolute;
  top: calc(38.82% - 5.21vw);
  width: calc(100.00% - 25.39vw);
}

.contact-1 .email-address-8sHyKo {
  background-color: transparent;
  height: 4.43vw;
  left: 0.0vw;
  letter-spacing: 0.0vw;
  line-height: 3.26vw;
  position: absolute;
  text-align: left;
  top: 0.52vw;
  white-space: nowrap;
  width: 25.26vw;
}

.contact-1 .group-23-8sHyKo {
  bottom: 0.0vw;
  height: 8.33vw;
  position: absolute;
}

.contact-1 .your-email-address-eFGg1x {
  background-color: transparent;
  border: 0;
  bottom: calc(46.67% - 2.08vw);
  height: 4.43vw;
  left: 3.39vw;
  letter-spacing: 0.0vw;
  line-height: 3.26vw;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: 34.11vw;
}

.contact-1 .your-email-address-eFGg1x::placeholder {
  color: #00000099;
}

.contact-1 .email_-field-nfBfhw {
  background-color: transparent;
  bottom: calc(28.95% - 2.6vw);
  cursor: pointer;
  height: 8.85vw;
  left: calc(50.00% - 11.85vw);
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease-in;
  width: 23.7vw;
}

.contact-1 .email_-field-nfBfhw:hover {
  transform: scale(0.9); 
}

.contact-1 .group-23-z1Vl0K {
  cursor: pointer;
  height: 100%;
  position: relative;
  top: 0.0vw;
}

.contact-1 .send-5DTAib {
  background-color: transparent;
  bottom: calc(36.76% - 1.56vw);
  height: 4.43vw;
  letter-spacing: 0.0vw;
  line-height: 3.26vw;
  position: absolute;
  right: calc(49.14% - 4.17vw);
  text-align: center;
  white-space: nowrap;
  width: 8.59vw;
}

.contact-1 .email_-field-jb1GkZ {
  background-color: transparent;
  bottom: calc(43.68% - 17.06vw);
  height: 39.06vw;
  left: 13.93vw;
  position: absolute;
  width: calc(100.00% - 25.39vw);
}

.contact-1 .message-GLnexX {
  background-color: transparent;
  height: 4.43vw;
  left: 0.0vw;
  letter-spacing: 0.0vw;
  line-height: 3.26vw;
  position: absolute;
  text-align: left;
  top: 0.52vw;
  white-space: nowrap;
  width: 17.19vw;
}

.contact-1 .group-23-GLnexX {
  height: calc(100.00% - 5.21vw);
  position: absolute;
  top: 5.21vw;
}

.contact-1 .your-message-a4xM2i {
  background-color: transparent;
  border: 0;
  height: 4.43vw;
  left: 3.39vw;
  letter-spacing: 0.0vw;
  line-height: 3.26vw;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 2.08vw;
  white-space: nowrap;
  width: 26.04vw;
}

.contact-1 .your-message-a4xM2i::placeholder {
  color: #00000099;
}

.contact-1 .rectangle-13 {
  background-color: var(--aubergine);
  border: 0.52vw solid;
  border-color: var(--kilamanjaro);
  border-radius: 2.47vw;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.contact-1 .rectangle-2 {
  background-color: var(--kilamanjaro);
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.contact-1 .rectangle-3 {
  background-color: var(--aubergine);
  left: 0.0vw;
  position: absolute;
  width: 100%;
}
/* screen - contact */

.contact {
  background-color: var(--log-cabin);
  height: 385.41vw;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100.0vw;
}

.contact .group-3-Z8I9gN {
  background-color: transparent;
  height: 48.01vw;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  transform: rotate(180deg);
  width: 100.0vw;
}

.contact .rectangle-3-eWS28r {
  bottom: 0.0vw;
  height: 28.65vw;
}

.contact .title-Z8I9gN {
  height: 13.79vw;
  left: 22.28vw;
  top: 31.56vw;
  width: 55.17vw;
}

.contact .home-L3d4jP {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.contact .title-q9CUKV {
  height: calc(100.00% + 0.53vw);
  left: 0.0vw;
  letter-spacing: 0.0vw;
  line-height: 11.14vw;
  text-align: center;
  top: 1.33vw;
  white-space: nowrap;
  width: calc(100.00% + 0.53vw);
}

.contact .group-2-Z8I9gN {
  background-color: transparent;
  height: 61.27vw;
  left: 0.0vw;
  position: absolute;
  top: 324.4vw;
  width: 100.0vw;
}

.contact .rectangle-3-x50H1Q {
  height: calc(100.00% - 13.79vw);
  top: 13.79vw;
}

.contact .nav-bar-Z8I9gN {
  background-color: transparent;
  height: 23.08vw;
  left: 1.06vw;
  position: absolute;
  top: 2.12vw;
  width: 94.69vw;
}

.contact .social-icons-hVwJO6 {
  background-color: transparent;
  height: calc(100.00% - 5.84vw);
  position: absolute;
  right: 0.27vw;
  top: 2.92vw;
  width: 12.47vw;
}

.contact .social_-icon_-artstation-0493xZ {
  background-color: transparent;
  bottom: 0.0vw;
  cursor: pointer;
  height: 8.49vw;
  left: 0.8vw;
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease;
  width: calc(100.00% - 1.59vw);
}

.contact .social_-icon_-artstation-0493xZ:hover {
  transform: scale(1.1);
}

.contact .icon-awesome-artstation-kxwOfv {
  background-color: transparent;
  height: calc(100.00% - 2.65vw);
  object-fit: cover;
  position: absolute;
  right: calc(45.10% - 2.92vw);
  top: 1.33vw;
  width: 6.63vw;
}

.contact .social_-icon_-linkdin-0493xZ {
  background-color: transparent;
  cursor: pointer;
  height: 8.49vw;
  left: 0.0vw;
  pointer-events: auto;
  position: absolute;
  top: 0.0vw;
  transition: all 0.2s ease;
  width: 100%;
}

.contact .social_-icon_-linkdin-0493xZ:hover {
  transform: scale(1.1);
}

.contact .icon-linkedin-kiWkvA {
  background-color: transparent;
  height: 5.84vw;
  object-fit: cover;
  position: absolute;
  right: calc(49.43% - 2.92vw);
  top: 1.06vw;
  width: 5.84vw;
}

.contact .logo-hVwJO6 {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 0.0vw;
  pointer-events: auto;
  position: absolute;
  top: 0.0vw;
  transition: all 0.2s ease;
  width: 60.21vw;
}

.contact .logo-hVwJO6:hover {
  transform: scale(0.9); 
}

.contact .mohammed-qamar-DNcQEE {
  background-color: transparent;
  bottom: calc(32.43% - 4.24vw);
  color: transparent;
  font-family: var(--font-family-itcavant_garde_gothic_std-demi);
  font-size: 5.04vw;
  font-style: normal;
  font-weight: 400;
  height: 13.26vw;
  left: 0.0vw;
  letter-spacing: 0.0vw;
  line-height: 5.04vw;
  position: absolute;
  text-align: right;
  white-space: nowrap;
  width: 33.16vw;
}

.contact .my-logo_-image-DNcQEE {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0.0vw;
  top: 0.0vw;
  width: 22.55vw;
}

.contact .work-hVwJO6 {
  background-color: transparent;
  cursor: pointer;
  height: 11.41vw;
  left: 1.33vw;
  mix-blend-mode: lighten;
  pointer-events: auto;
  position: absolute;
  top: 3.45vw;
  transition: all 0.2s ease;
  width: 33.16vw;
}

.contact .work-hVwJO6:hover {
  transform: scale(1.1);
}

.contact .group-25-89eAwv {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.contact .work-xRlneY {
  background-color: transparent;
  height: 8.22vw;
  left: 3.98vw;
  letter-spacing: 0.0vw;
  line-height: 6.1vw;
  position: absolute;
  text-align: left;
  top: 2.12vw;
  white-space: nowrap;
  width: 15.65vw;
}

.contact .icon-awesome-book-xRlneY {
  background-color: transparent;
  height: 7.16vw;
  object-fit: cover;
  position: absolute;
  right: 3.45vw;
  top: 1.59vw;
  width: 6.37vw;
}

.contact .contact-hVwJO6 {
  background-color: transparent;
  bottom: 0.0vw;
  cursor: pointer;
  height: 11.41vw;
  left: 1.33vw;
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease;
  width: 46.15vw;
}

.contact .contact-hVwJO6:hover {
  transform: scale(1.1);
}

.contact .contact-TVpaDZ {
  background-color: transparent;
  height: 8.22vw;
  left: 3.98vw;
  letter-spacing: 0.0vw;
  line-height: 6.1vw;
  position: absolute;
  text-align: left;
  top: 2.12vw;
  white-space: nowrap;
  width: 25.46vw;
}

.contact .icon-material-contact-mail-TVpaDZ {
  background-color: transparent;
  height: 7.16vw;
  object-fit: cover;
  position: absolute;
  right: 3.45vw;
  top: 1.59vw;
  width: 9.55vw;
}

.contact .if-you-have-any-ques-Z8I9gN {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-itcavant_garde_gothic_std-demi);
  font-size: 5.84vw;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 11.41vw;
  letter-spacing: 0.0vw;
  line-height: 5.84vw;
  position: absolute;
  text-align: center;
  top: 65.78vw;
  white-space: nowrap;
  width: auto;
}

.contact .name_-field-Z8I9gN {
  background-color: transparent;
  height: 27.59vw;
  left: 19.36vw;
  position: absolute;
  top: 111.41vw;
  width: 63.13vw;
}

.contact .name-5NeixR {
  background-color: transparent;
  height: 9.02vw;
  left: 0.0vw;
  letter-spacing: 0.0vw;
  line-height: 6.63vw;
  position: absolute;
  text-align: center;
  top: 1.06vw;
  white-space: nowrap;
  width: 24.93vw;
}

.contact .group-23-5NeixR {
  background-color: transparent;
  bottom: 0.0vw;
  height: 16.98vw;
  left: 0.0vw;
  position: absolute;
  width: 100%;
}

.contact .your-name-ojTPIT {
  background-color: transparent;
  border: 0;
  bottom: calc(46.67% - 4.24vw);
  height: 9.02vw;
  left: 5.84vw;
  letter-spacing: 0.0vw;
  line-height: 6.63vw;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: center;
  white-space: nowrap;
  width: 42.97vw;
}

.contact .your-name-ojTPIT::placeholder {
  color: #00000099;
}

.contact .email_-field-Z8I9gN {
  background-color: transparent;
  height: 27.59vw;
  left: 18.04vw;
  position: absolute;
  top: 149.6vw;
  width: 64.46vw;
}

.contact .email-address-WhYRsX {
  background-color: transparent;
  height: 9.02vw;
  left: 0.0vw;
  letter-spacing: 0.0vw;
  line-height: 6.63vw;
  position: absolute;
  text-align: left;
  top: 1.06vw;
  white-space: nowrap;
  width: 51.46vw;
}

.contact .group-23-WhYRsX {
  background-color: transparent;
  bottom: 0.0vw;
  height: 16.98vw;
  left: 1.33vw;
  position: absolute;
  width: calc(100.00% - 1.33vw);
}

.contact .email-address-gr7Fue {
  background-color: transparent;
  border: 0;
  bottom: calc(46.67% - 4.24vw);
  height: 9.02vw;
  left: 4.77vw;
  letter-spacing: 0.0vw;
  line-height: 6.63vw;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 10.08vw);
}

.contact .email-address-gr7Fue::placeholder {
  color: #00000099;
}

.contact .email_-field-5xHzHv {
  background-color: transparent;
  cursor: pointer;
  height: 18.04vw;
  left: 25.99vw;
  pointer-events: auto;
  position: absolute;
  top: 280.64vw;
  transition: all 0.2s ease-in;
  width: 48.28vw;
}

.contact .email_-field-5xHzHv:hover {
  transform: scale(0.9); 
}

.contact .group-23-sDYBC0 {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.contact .send-bQtObU {
  background-color: transparent;
  bottom: calc(36.76% - 3.18vw);
  height: 9.02vw;
  letter-spacing: 0.0vw;
  line-height: 6.63vw;
  position: absolute;
  right: calc(49.14% - 8.49vw);
  text-align: center;
  white-space: nowrap;
  width: 17.51vw;
}

.contact .email_-field-YV3iqv {
  background-color: transparent;
  height: 79.58vw;
  left: 19.36vw;
  position: absolute;
  top: 187.8vw;
  width: 63.13vw;
}

.contact .message-NgOV69 {
  background-color: transparent;
  height: 9.02vw;
  left: 0.0vw;
  letter-spacing: 0.0vw;
  line-height: 6.63vw;
  position: absolute;
  text-align: left;
  top: 1.06vw;
  white-space: nowrap;
  width: 35.01vw;
}

.contact .group-23-NgOV69 {
  background-color: transparent;
  height: calc(100.00% - 10.61vw);
  left: 0.27vw;
  position: absolute;
  top: 10.61vw;
  width: 100%;
}

.contact .your-message-N4xaux {
  background-color: transparent;
  border: 0;
  height: 9.02vw;
  left: 4.51vw;
  letter-spacing: 0.0vw;
  line-height: 6.63vw;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 4.24vw;
  white-space: nowrap;
  width: calc(100.00% - 10.08vw);
}

.contact .your-message-N4xaux::placeholder {
  color: #00000099;
}

.contact .rectangle-13 {
  background-color: var(--aubergine);
  border: 1.06vw solid;
  border-color: var(--kilamanjaro);
  border-radius: 5.04vw;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.contact .rectangle-2 {
  background-color: var(--kilamanjaro);
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.contact .rectangle-3 {
  background-color: var(--aubergine);
  left: 0.0vw;
  position: absolute;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .screen.contact { 
    display: none;
   }
  .screen.contact-1 { 
    display: none;
   }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .screen.contact { 
    display: none;
   }
  .screen.contact { 
    display: none;
   }
}
@media screen and (min-width: 1281px) {
  .screen.contact-1 { 
    display: none;
   }
  .screen.contact { 
    display: none;
   }
}