/* screen - contact */

.contact {
  background-color: var(--log-cabin);
  margin: 0.0vw;
  min-height: 121.55vw;
  min-width: 100.0vw;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.contact .group-3-DhmS6L {
  background-color: transparent;
  height: 14.13vw;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  transform: rotate(180deg);
  width: 100%;
}

.contact .rectangle-3-0IFcch {
  bottom: 0.0vw;
  height: 8.43vw;
}

.contact .title-DhmS6L {
  height: 4.06vw;
  left: calc(50.00% - 8.12vw);
  top: 9.29vw;
  width: 16.24vw;
}

.contact .home-CHCxv0 {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.contact .title-Uvsxl4 {
  height: calc(100.00% + 0.16vw);
  left: 0.0vw;
  letter-spacing: 0.0vw;
  line-height: 3.28vw;
  text-align: center;
  top: 0.39vw;
  white-space: nowrap;
  width: calc(100.00% + 0.16vw);
}

.contact .group-2-DhmS6L {
  background-color: transparent;
  bottom: 0.23vw;
  height: 18.03vw;
  left: 0.0vw;
  position: absolute;
  width: 100%;
}

.contact .rectangle-3-yxvNlo {
  height: calc(100.00% - 4.06vw);
  top: 4.06vw;
}

.contact .nav-bar-DhmS6L {
  background-color: transparent;
  height: 6.79vw;
  left: 2.89vw;
  position: absolute;
  top: 0.62vw;
  width: calc(100.00% - 6.48vw);
}

.contact .social-icons-2j15Cb {
  background-color: transparent;
  bottom: calc(48.98% - 1.48vw);
  height: 2.97vw;
  position: absolute;
  right: 0.08vw;
  width: 8.27vw;
}

.contact .social_-icon_-artstation-yF7cSu {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  pointer-events: auto;
  position: absolute;
  right: 0.08vw;
  top: 0.0vw;
  transition: all 0.2s ease;
  width: 3.83vw;
}

.contact .social_-icon_-artstation-yF7cSu:hover {
  transform: scale(1.1);
}

.contact .icon-awesome-artstation-bz9wKi {
  background-color: transparent;
  height: calc(100.00% - 0.94vw);
  object-fit: cover;
  position: absolute;
  right: calc(46.80% - 1.09vw);
  top: 0.47vw;
  width: 2.34vw;
}

.contact .social_-icon_-linkdin-yF7cSu {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 0.0vw;
  pointer-events: auto;
  position: absolute;
  top: 0.0vw;
  transition: all 0.2s ease;
  width: 4.29vw;
}

.contact .social_-icon_-linkdin-yF7cSu:hover {
  transform: scale(1.1);
}

.contact .icon-linkedin-MJybIr {
  background-color: transparent;
  height: 2.03vw;
  object-fit: cover;
  position: absolute;
  right: calc(48.55% - 1.01vw);
  top: 0.39vw;
  width: 2.03vw;
}

.contact .logo-2j15Cb {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  pointer-events: auto;
  position: absolute;
  right: calc(49.71% - 12.8vw);
  top: 0.0vw;
  transition: all 0.2s ease;
  width: 25.68vw;
}

.contact .logo-2j15Cb:hover {
  transform: scale(0.9); 
}

.contact .mohammed-qamar-uaVrGb {
  background-color: transparent;
  bottom: calc(42.86% - 1.01vw);
  height: 2.42vw;
  left: 0.0vw;
  letter-spacing: 0.0vw;
  line-height: 1.8vw;
  position: absolute;
  text-align: right;
  white-space: nowrap;
  width: 18.19vw;
}

.contact .my-logo_-image-uaVrGb {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0.0vw;
  top: 0.0vw;
  width: 6.64vw;
}

.contact .work-2j15Cb {
  background-color: transparent;
  bottom: calc(45.45% - 1.56vw);
  cursor: pointer;
  height: 3.36vw;
  left: 0.0vw;
  mix-blend-mode: lighten;
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease;
  width: 9.76vw;
}

.contact .work-2j15Cb:hover {
  transform: scale(1.1);
}

.contact .group-25-6xx4ZR {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.contact .work-u7BU8f {
  background-color: transparent;
  height: 2.42vw;
  left: 1.17vw;
  letter-spacing: 0.0vw;
  line-height: 1.8vw;
  position: absolute;
  text-align: left;
  top: 0.62vw;
  white-space: nowrap;
  width: 4.61vw;
}

.contact .icon-awesome-book-u7BU8f {
  background-color: transparent;
  height: 1.72vw;
  object-fit: cover;
  position: absolute;
  right: 1.95vw;
  top: 0.62vw;
  width: 1.48vw;
}

.contact .contact-2j15Cb {
  background-color: transparent;
  bottom: calc(45.45% - 1.56vw);
  cursor: pointer;
  height: 3.36vw;
  left: 9.76vw;
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease;
  width: 13.58vw;
}

.contact .contact-2j15Cb:hover {
  transform: scale(1.1);
}

.contact .contact-9BXl9s {
  background-color: transparent;
  height: 2.42vw;
  left: 1.17vw;
  letter-spacing: 0.0vw;
  line-height: 1.8vw;
  position: absolute;
  text-align: left;
  top: 0.62vw;
  white-space: nowrap;
  width: 7.49vw;
}

.contact .icon-material-contact-mail-9BXl9s {
  background-color: transparent;
  height: 1.8vw;
  object-fit: cover;
  position: absolute;
  right: 1.8vw;
  top: 0.62vw;
  width: 2.34vw;
}

.contact .if-you-have-any-ques-DhmS6L {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-itcavant_garde_gothic_std-demi);
  font-size: 2.42vw;
  font-style: normal;
  font-weight: 400;
  height: 6.25vw;
  letter-spacing: 0.0vw;
  line-height: 2.42vw;
  position: absolute;
  right: calc(49.65% - 32.86vw);
  text-align: center;
  top: calc(18.42% - 1.17vw);
  white-space: nowrap;
  width: 66.2vw;
}

.contact .name_-field-DhmS6L {
  background-color: transparent;
  height: 8.12vw;
  position: absolute;
  right: calc(49.89% - 32.94vw);
  top: calc(28.91% - 2.34vw);
  width: 66.04vw;
}

.contact .name-n3e4eA {
  background-color: transparent;
  height: 2.65vw;
  left: 0.0vw;
  letter-spacing: 0.0vw;
  line-height: 1.95vw;
  position: absolute;
  text-align: left;
  top: 0.31vw;
  white-space: nowrap;
  width: 7.34vw;
}

.contact .group-23-n3e4eA {
  bottom: 0.0vw;
  height: 5.0vw;
  position: absolute;
}

.contact .your-name-v0qusm {
  background-color: transparent;
  border: 0;
  bottom: calc(46.67% - 1.25vw);
  height: 2.65vw;
  left: 2.03vw;
  letter-spacing: 0.0vw;
  line-height: 1.95vw;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: 12.72vw;
}

.contact .your-name-v0qusm::placeholder {
  color: #97979799;
}

.contact .email_-field-DhmS6L {
  background-color: transparent;
  height: 8.12vw;
  position: absolute;
  right: calc(49.89% - 32.94vw);
  top: calc(38.82% - 3.12vw);
  width: 66.04vw;
}

.contact .email-address-ExH8hg {
  background-color: transparent;
  height: 2.65vw;
  left: 0.0vw;
  letter-spacing: 0.0vw;
  line-height: 1.95vw;
  position: absolute;
  text-align: left;
  top: 0.31vw;
  white-space: nowrap;
  width: 15.14vw;
}

.contact .group-23-ExH8hg {
  bottom: 0.0vw;
  height: 5.0vw;
  position: absolute;
}

.contact .your-email-address-qpdZ2A {
  background-color: transparent;
  border: 0;
  bottom: calc(46.67% - 1.25vw);
  height: 2.65vw;
  left: 2.03vw;
  letter-spacing: 0.0vw;
  line-height: 1.95vw;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: 20.45vw;
}

.contact .your-email-address-qpdZ2A::placeholder {
  color: #97979799;
}

.contact .email_-field-QYcqwi {
  background-color: transparent;
  bottom: calc(28.95% - 1.56vw);
  cursor: pointer;
  height: 5.31vw;
  pointer-events: auto;
  position: absolute;
  right: calc(49.95% - 7.1vw);
  transition: all 0.2s ease-in;
  width: 14.21vw;
}

.contact .email_-field-QYcqwi:hover {
  transform: scale(0.9); 
}

.contact .group-23-9F3wVe {
  cursor: pointer;
  height: 100%;
  position: relative;
  top: 0.0vw;
}

.contact .send-5HqBRx {
  background-color: transparent;
  bottom: calc(36.76% - 0.94vw);
  height: 2.65vw;
  letter-spacing: 0.0vw;
  line-height: 1.95vw;
  position: absolute;
  right: calc(49.14% - 2.5vw);
  text-align: center;
  white-space: nowrap;
  width: 5.15vw;
}

.contact .email_-field-tqJyG5 {
  background-color: transparent;
  bottom: calc(43.68% - 10.23vw);
  height: 23.42vw;
  position: absolute;
  right: calc(49.89% - 32.94vw);
  width: 66.04vw;
}

.contact .message-yMslZ5 {
  background-color: transparent;
  height: 2.65vw;
  left: 0.0vw;
  letter-spacing: 0.0vw;
  line-height: 1.95vw;
  position: absolute;
  text-align: left;
  top: 0.31vw;
  white-space: nowrap;
  width: 10.3vw;
}

.contact .group-23-yMslZ5 {
  height: calc(100.00% - 3.12vw);
  position: absolute;
  top: 3.12vw;
}

.contact .your-message-BEJl87 {
  background-color: transparent;
  border: 0;
  height: 2.65vw;
  left: 2.03vw;
  letter-spacing: 0.0vw;
  line-height: 1.95vw;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 1.25vw;
  white-space: nowrap;
  width: 15.61vw;
}

.contact .your-message-BEJl87::placeholder {
  color: #97979799;
}

.contact .group-23 {
  background-color: transparent;
  left: 0.0vw;
  width: 100%;
}

.contact .rectangle-13 {
  background-color: var(--aubergine);
  border: 0.31vw solid;
  border-color: var(--kilamanjaro);
  border-radius: 1.48vw;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.contact .rectangle-2 {
  background-color: var(--kilamanjaro);
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.contact .rectangle-3 {
  background-color: var(--aubergine);
  left: 0.0vw;
  position: absolute;
  width: 100%;
}
/* screen - contact-1 */

.contact-1 {
  background-color: var(--log-cabin);
  margin: 0.0vw;
  min-height: 186.2vw;
  min-width: 100.0vw;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.contact-1 .group-3-k2iDzY {
  background-color: transparent;
  height: 23.57vw;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  transform: rotate(180deg);
  width: 100%;
}

.contact-1 .rectangle-3-DYDXGa {
  bottom: 0.0vw;
  height: 14.06vw;
}

.contact-1 .title-k2iDzY {
  height: 6.77vw;
  left: calc(50.00% - 13.54vw);
  top: 15.49vw;
  width: 27.08vw;
}

.contact-1 .home-oLsuMK {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.contact-1 .title-xAVWUO {
  height: calc(100.00% + 0.26vw);
  left: 0.0vw;
  letter-spacing: 0.0vw;
  line-height: 5.47vw;
  text-align: center;
  top: 0.65vw;
  white-space: nowrap;
  width: calc(100.00% + 0.26vw);
}

.contact-1 .group-2-k2iDzY {
  background-color: transparent;
  bottom: -1.95vw;
  height: 30.08vw;
  left: 0.0vw;
  position: absolute;
  width: 100%;
}

.contact-1 .rectangle-3-MGZxJ5 {
  height: calc(100.00% - 6.77vw);
  top: 6.77vw;
}

.contact-1 .nav-bar-k2iDzY {
  background-color: transparent;
  height: 11.33vw;
  left: 4.82vw;
  position: absolute;
  top: 1.04vw;
  width: calc(100.00% - 10.81vw);
}

.contact-1 .social-icons-NnQaIu {
  background-color: transparent;
  bottom: calc(45.10% - 2.08vw);
  height: 4.69vw;
  position: absolute;
  right: 0.13vw;
  width: 13.28vw;
}

.contact-1 .social_-icon_-artstation-xuE71I {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  pointer-events: auto;
  position: absolute;
  right: 0.0vw;
  top: 0.0vw;
  transition: all 0.2s ease;
  width: 6.12vw;
}

.contact-1 .social_-icon_-artstation-xuE71I:hover {
  transform: scale(1.1);
}

.contact-1 .icon-awesome-artstation-TrAz95 {
  background-color: transparent;
  height: calc(100.00% - 1.43vw);
  object-fit: cover;
  position: absolute;
  right: calc(46.74% - 1.69vw);
  top: 0.65vw;
  width: 3.78vw;
}

.contact-1 .social_-icon_-linkdin-xuE71I {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 0.0vw;
  pointer-events: auto;
  position: absolute;
  top: 0.0vw;
  transition: all 0.2s ease;
  width: 6.9vw;
}

.contact-1 .social_-icon_-linkdin-xuE71I:hover {
  transform: scale(1.1);
}

.contact-1 .icon-linkedin-Khf9TO {
  background-color: transparent;
  height: 3.26vw;
  object-fit: cover;
  position: absolute;
  right: calc(48.97% - 1.56vw);
  top: 0.52vw;
  width: 3.26vw;
}

.contact-1 .logo-NnQaIu {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  pointer-events: auto;
  position: absolute;
  right: calc(31.03% - 8.46vw);
  top: 0.0vw;
  transition: all 0.2s ease;
  width: 27.08vw;
}

.contact-1 .logo-NnQaIu:hover {
  transform: scale(0.9); 
}

.contact-1 .mohammed-qamar-dK72y3 {
  background-color: transparent;
  bottom: calc(32.43% - 2.08vw);
  height: 6.51vw;
  letter-spacing: 0.0vw;
  line-height: 2.47vw;
  position: absolute;
  right: 10.81vw;
  text-align: right;
  white-space: nowrap;
  width: 16.28vw;
}

.contact-1 .my-logo_-image-dK72y3 {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0.0vw;
  top: 0.0vw;
  width: 11.07vw;
}

.contact-1 .work-NnQaIu {
  background-color: transparent;
  bottom: calc(45.45% - 2.6vw);
  cursor: pointer;
  height: 5.6vw;
  left: 0.0vw;
  mix-blend-mode: lighten;
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease;
  width: 16.28vw;
}

.contact-1 .work-NnQaIu:hover {
  transform: scale(1.1);
}

.contact-1 .group-25-A9kseE {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.contact-1 .work-sA80LM {
  background-color: transparent;
  height: 4.04vw;
  left: 1.95vw;
  letter-spacing: 0.0vw;
  line-height: 2.99vw;
  position: absolute;
  text-align: left;
  top: 1.04vw;
  white-space: nowrap;
  width: 7.68vw;
}

.contact-1 .icon-awesome-book-sA80LM {
  background-color: transparent;
  height: 2.86vw;
  object-fit: cover;
  position: absolute;
  right: 3.65vw;
  top: 1.04vw;
  width: 2.47vw;
}

.contact-1 .contact-NnQaIu {
  background-color: transparent;
  bottom: calc(45.45% - 2.6vw);
  cursor: pointer;
  height: 5.6vw;
  left: calc(24.46% - 5.6vw);
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease;
  width: 22.66vw;
}

.contact-1 .contact-NnQaIu:hover {
  transform: scale(1.1);
}

.contact-1 .contact-9R6jxw {
  background-color: transparent;
  height: 4.04vw;
  left: 1.95vw;
  letter-spacing: 0.0vw;
  line-height: 2.99vw;
  position: absolute;
  text-align: left;
  top: 1.04vw;
  white-space: nowrap;
  width: 12.5vw;
}

.contact-1 .icon-material-contact-mail-9R6jxw {
  background-color: transparent;
  height: 2.86vw;
  object-fit: cover;
  position: absolute;
  right: 3.26vw;
  top: 1.43vw;
  width: 3.78vw;
}

.contact-1 .if-you-have-any-ques-k2iDzY {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  height: 9.64vw;
  letter-spacing: 0.0vw;
  line-height: 2.6vw;
  position: absolute;
  right: calc(49.80% - 17.97vw);
  text-align: center;
  top: calc(19.99% - 1.95vw);
  white-space: nowrap;
  width: 36.2vw;
}

.contact-1 .name_-field-k2iDzY {
  background-color: transparent;
  height: 12.89vw;
  left: 13.93vw;
  position: absolute;
  top: calc(31.93% - 4.17vw);
  width: calc(100.00% - 25.39vw);
}

.contact-1 .name-xULkul {
  background-color: transparent;
  height: 3.52vw;
  left: 0.0vw;
  letter-spacing: 0.0vw;
  line-height: 2.6vw;
  position: absolute;
  text-align: left;
  top: 0.26vw;
  white-space: nowrap;
  width: 9.9vw;
}

.contact-1 .group-23-xULkul {
  bottom: 0.0vw;
  height: 8.33vw;
  position: absolute;
}

.contact-1 .your-name-Lp4sgx {
  background-color: transparent;
  border: 0;
  bottom: calc(43.24% - 1.56vw);
  height: 3.52vw;
  left: 4.04vw;
  letter-spacing: 0.0vw;
  line-height: 2.6vw;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: 16.93vw;
}

.contact-1 .your-name-Lp4sgx::placeholder {
  color: #bfb2b299;
}

.contact-1 .email_-field-k2iDzY {
  background-color: transparent;
  height: 12.89vw;
  left: 13.93vw;
  position: absolute;
  top: calc(42.75% - 5.47vw);
  width: calc(100.00% - 25.39vw);
}

.contact-1 .email-address-8sHyKo {
  background-color: transparent;
  height: 3.52vw;
  left: 0.0vw;
  letter-spacing: 0.0vw;
  line-height: 2.6vw;
  position: absolute;
  text-align: left;
  top: 0.26vw;
  white-space: nowrap;
  width: 20.18vw;
}

.contact-1 .group-23-8sHyKo {
  bottom: 0.0vw;
  height: 8.33vw;
  position: absolute;
}

.contact-1 .your-email-address-eFGg1x {
  background-color: transparent;
  border: 0;
  bottom: calc(43.24% - 1.56vw);
  height: 3.52vw;
  left: 3.39vw;
  letter-spacing: 0.0vw;
  line-height: 2.6vw;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: 27.34vw;
}

.contact-1 .your-email-address-eFGg1x::placeholder {
  color: #bfb2b299;
}

.contact-1 .email_-field-nfBfhw {
  background-color: transparent;
  bottom: calc(22.32% - 1.95vw);
  cursor: pointer;
  height: 8.85vw;
  left: calc(50.00% - 11.85vw);
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease-in;
  width: 23.7vw;
}

.contact-1 .email_-field-nfBfhw:hover {
  transform: scale(0.9); 
}

.contact-1 .group-23-z1Vl0K {
  cursor: pointer;
  height: 100%;
  position: relative;
  top: 0.0vw;
}

.contact-1 .send-5DTAib {
  background-color: transparent;
  bottom: calc(36.76% - 1.56vw);
  height: 4.43vw;
  letter-spacing: 0.0vw;
  line-height: 3.26vw;
  position: absolute;
  right: calc(49.14% - 4.17vw);
  text-align: center;
  white-space: nowrap;
  width: 8.59vw;
}

.contact-1 .email_-field-jb1GkZ {
  background-color: transparent;
  bottom: calc(37.18% - 14.32vw);
  height: 38.41vw;
  left: 13.93vw;
  position: absolute;
  width: calc(100.00% - 25.39vw);
}

.contact-1 .message-GLnexX {
  background-color: transparent;
  height: 3.52vw;
  left: 0.0vw;
  letter-spacing: 0.0vw;
  line-height: 2.6vw;
  position: absolute;
  text-align: left;
  top: 0.26vw;
  white-space: nowrap;
  width: 13.8vw;
}

.contact-1 .group-23-GLnexX {
  height: calc(100.00% - 4.56vw);
  position: absolute;
  top: 4.56vw;
}

.contact-1 .your-message-a4xM2i {
  background-color: transparent;
  border: 0;
  height: 3.52vw;
  left: 3.39vw;
  letter-spacing: 0.0vw;
  line-height: 2.6vw;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 2.73vw;
  white-space: nowrap;
  width: 20.83vw;
}

.contact-1 .your-message-a4xM2i::placeholder {
  color: #bfb2b299;
}

.contact-1 .group-23 {
  background-color: transparent;
  left: 0.0vw;
  width: 100%;
}

.contact-1 .rectangle-13 {
  background-color: var(--aubergine);
  border: 0.52vw solid;
  border-color: var(--kilamanjaro);
  border-radius: 2.47vw;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.contact-1 .rectangle-2 {
  background-color: var(--kilamanjaro);
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.contact-1 .rectangle-3 {
  background-color: var(--aubergine);
  left: 0.0vw;
  position: absolute;
  width: 100%;
}
/* screen - contact-2-all-breakpoints */

.contact-2-all-breakpoints {
  background-color: var(--log-cabin);
  margin: 0.0vw;
  min-height: 360.74vw;
  min-width: 100.0vw;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.contact-2-all-breakpoints .group-3-Z8I9gN {
  background-color: transparent;
  height: 48.01vw;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  transform: rotate(180deg);
  width: 100%;
}

.contact-2-all-breakpoints .rectangle-3-eWS28r {
  bottom: 0.0vw;
  height: 28.65vw;
}

.contact-2-all-breakpoints .title-Z8I9gN {
  height: 7.69vw;
  right: calc(50.00% - 15.65vw);
  top: 34.48vw;
  width: 31.3vw;
}

.contact-2-all-breakpoints .home-L3d4jP {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.contact-2-all-breakpoints .title-q9CUKV {
  height: calc(100.00% + 0.53vw);
  left: 0.0vw;
  letter-spacing: 0.0vw;
  line-height: 6.37vw;
  text-align: center;
  top: 0.53vw;
  white-space: nowrap;
  width: calc(100.00% + 0.53vw);
}

.contact-2-all-breakpoints .group-2-Z8I9gN {
  background-color: transparent;
  bottom: -1.06vw;
  height: 61.27vw;
  left: 0.0vw;
  position: absolute;
  width: 100%;
}

.contact-2-all-breakpoints .rectangle-3-x50H1Q {
  height: calc(100.00% - 13.79vw);
  top: 13.79vw;
}

.contact-2-all-breakpoints .nav-bar-Z8I9gN {
  background-color: transparent;
  height: 20.69vw;
  left: 2.39vw;
  position: absolute;
  top: 4.51vw;
  width: calc(100.00% - 6.63vw);
}

.contact-2-all-breakpoints .social-icons-hVwJO6 {
  background-color: transparent;
  height: calc(100.00% - 5.04vw);
  position: absolute;
  right: 0.0vw;
  top: 2.12vw;
  width: 10.34vw;
}

.contact-2-all-breakpoints .social_-icon_-artstation-0493xZ {
  background-color: transparent;
  bottom: 0.0vw;
  cursor: pointer;
  height: 6.9vw;
  left: 0.8vw;
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease;
  width: calc(100.00% - 1.33vw);
}

.contact-2-all-breakpoints .social_-icon_-artstation-0493xZ:hover {
  transform: scale(1.1);
}

.contact-2-all-breakpoints .icon-awesome-artstation-kxwOfv {
  background-color: transparent;
  height: calc(100.00% - 2.12vw);
  object-fit: cover;
  position: absolute;
  right: calc(46.14% - 2.65vw);
  top: 1.06vw;
  width: 5.57vw;
}

.contact-2-all-breakpoints .social_-icon_-linkdin-0493xZ {
  background-color: transparent;
  cursor: pointer;
  height: 6.9vw;
  left: 0.0vw;
  pointer-events: auto;
  position: absolute;
  top: 0.0vw;
  transition: all 0.2s ease;
  width: 100%;
}

.contact-2-all-breakpoints .social_-icon_-linkdin-0493xZ:hover {
  transform: scale(1.1);
}

.contact-2-all-breakpoints .icon-linkedin-kiWkvA {
  background-color: transparent;
  height: 4.77vw;
  left: calc(49.81% - 2.39vw);
  object-fit: cover;
  position: absolute;
  top: 0.8vw;
  width: 4.77vw;
}

.contact-2-all-breakpoints .logo-hVwJO6 {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 0.8vw);
  pointer-events: auto;
  position: absolute;
  right: calc(48.56% - 9.55vw);
  top: 0.0vw;
  transition: all 0.2s ease;
  width: 19.63vw;
}

.contact-2-all-breakpoints .logo-hVwJO6:hover {
  transform: scale(0.9); 
}

.contact-2-all-breakpoints .my-logo_-image-DNcQEE {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.contact-2-all-breakpoints .work-hVwJO6 {
  background-color: transparent;
  cursor: pointer;
  height: 11.41vw;
  left: 0.0vw;
  mix-blend-mode: lighten;
  pointer-events: auto;
  position: absolute;
  top: 1.06vw;
  transition: all 0.2s ease;
  width: 33.16vw;
}

.contact-2-all-breakpoints .work-hVwJO6:hover {
  transform: scale(1.1);
}

.contact-2-all-breakpoints .group-25-89eAwv {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.contact-2-all-breakpoints .work-xRlneY {
  background-color: transparent;
  height: 5.84vw;
  left: 3.98vw;
  letter-spacing: 0.0vw;
  line-height: 4.24vw;
  position: absolute;
  text-align: left;
  top: 3.71vw;
  white-space: nowrap;
  width: 10.88vw;
}

.contact-2-all-breakpoints .icon-awesome-book-xRlneY {
  background-color: transparent;
  height: 7.16vw;
  object-fit: cover;
  position: absolute;
  right: 3.45vw;
  top: 1.59vw;
  width: 6.37vw;
}

.contact-2-all-breakpoints .contact-hVwJO6 {
  background-color: transparent;
  bottom: 0.0vw;
  cursor: pointer;
  height: 11.41vw;
  left: 0.0vw;
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease;
  width: 46.15vw;
}

.contact-2-all-breakpoints .contact-hVwJO6:hover {
  transform: scale(1.1);
}

.contact-2-all-breakpoints .contact-TVpaDZ {
  background-color: transparent;
  height: 5.84vw;
  left: 3.98vw;
  letter-spacing: 0.0vw;
  line-height: 4.24vw;
  position: absolute;
  text-align: left;
  top: 3.71vw;
  white-space: nowrap;
  width: 18.04vw;
}

.contact-2-all-breakpoints .icon-material-contact-mail-TVpaDZ {
  background-color: transparent;
  height: 7.16vw;
  object-fit: cover;
  position: absolute;
  right: 3.45vw;
  top: 1.59vw;
  width: 9.55vw;
}

.contact-2-all-breakpoints .if-you-have-any-ques-Z8I9gN {
  background-color: transparent;
  height: 15.65vw;
  letter-spacing: 0.0vw;
  line-height: 4.24vw;
  position: absolute;
  right: calc(47.27% - 26.53vw);
  text-align: center;
  top: calc(18.10% - 2.92vw);
  white-space: nowrap;
  width: 56.23vw;
}

.contact-2-all-breakpoints .name_-field-Z8I9gN {
  background-color: transparent;
  height: 23.87vw;
  position: absolute;
  right: calc(47.48% - 29.97vw);
  top: calc(29.06% - 6.9vw);
  width: 63.13vw;
}

.contact-2-all-breakpoints .name-5NeixR {
  background-color: transparent;
  height: 5.84vw;
  left: 0.0vw;
  letter-spacing: 0.0vw;
  line-height: 4.24vw;
  position: absolute;
  text-align: left;
  top: 0.53vw;
  white-space: nowrap;
  width: 16.18vw;
}

.contact-2-all-breakpoints .group-23-5NeixR {
  height: calc(100.00% - 6.9vw);
  left: 0.0vw;
  position: absolute;
  top: 6.9vw;
}

.contact-2-all-breakpoints .your-name-ojTPIT {
  background-color: transparent;
  border: 0;
  bottom: calc(47.62% - 2.65vw);
  height: 5.84vw;
  left: 5.04vw;
  letter-spacing: 0.0vw;
  line-height: 4.24vw;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: 27.85vw;
}

.contact-2-all-breakpoints .your-name-ojTPIT::placeholder {
  color: #9a9a9a99;
}

.contact-2-all-breakpoints .email_-field-Z8I9gN {
  background-color: transparent;
  height: 25.2vw;
  position: absolute;
  right: calc(47.48% - 29.97vw);
  top: calc(40.16% - 10.08vw);
  width: 63.13vw;
}

.contact-2-all-breakpoints .email-address-WhYRsX {
  background-color: transparent;
  height: 5.84vw;
  left: 0.0vw;
  letter-spacing: 0.0vw;
  line-height: 4.24vw;
  position: absolute;
  text-align: left;
  top: 0.53vw;
  white-space: nowrap;
  width: 33.16vw;
}

.contact-2-all-breakpoints .group-23-WhYRsX {
  height: calc(100.00% - 8.22vw);
  left: 0.0vw;
  position: absolute;
  top: 8.22vw;
}

.contact-2-all-breakpoints .email-address-gr7Fue {
  background-color: transparent;
  border: 0;
  bottom: calc(47.62% - 2.65vw);
  height: 5.84vw;
  left: 4.77vw;
  letter-spacing: 0.0vw;
  line-height: 4.24vw;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: 34.22vw;
}

.contact-2-all-breakpoints .email-address-gr7Fue::placeholder {
  color: #9a9a9a99;
}

.contact-2-all-breakpoints .email_-field-5xHzHv {
  background-color: transparent;
  bottom: calc(23.14% - 4.24vw);
  cursor: pointer;
  height: 18.04vw;
  pointer-events: auto;
  position: absolute;
  right: calc(49.74% - 24.14vw);
  transition: all 0.2s ease-in;
  width: 48.28vw;
}

.contact-2-all-breakpoints .email_-field-5xHzHv:hover {
  transform: scale(0.9); 
}

.contact-2-all-breakpoints .group-23-sDYBC0 {
  cursor: pointer;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
}

.contact-2-all-breakpoints .send-bQtObU {
  background-color: transparent;
  bottom: calc(37.80% - 2.65vw);
  height: 7.16vw;
  letter-spacing: 0.0vw;
  line-height: 5.31vw;
  position: absolute;
  right: calc(49.22% - 7.16vw);
  text-align: center;
  white-space: nowrap;
  width: 14.32vw;
}

.contact-2-all-breakpoints .email_-field-YV3iqv {
  background-color: transparent;
  bottom: calc(39.01% - 30.24vw);
  height: 77.19vw;
  position: absolute;
  right: calc(47.48% - 29.97vw);
  width: 63.13vw;
}

.contact-2-all-breakpoints .message-NgOV69 {
  background-color: transparent;
  height: 5.84vw;
  left: 0.0vw;
  letter-spacing: 0.0vw;
  line-height: 4.24vw;
  position: absolute;
  text-align: left;
  top: 0.53vw;
  white-space: nowrap;
  width: 22.55vw;
}

.contact-2-all-breakpoints .group-23-NgOV69 {
  height: calc(100.00% - 8.22vw);
  left: 0.27vw;
  position: absolute;
  top: 8.22vw;
}

.contact-2-all-breakpoints .your-message-N4xaux {
  background-color: transparent;
  border: 0;
  height: 5.84vw;
  left: 4.51vw;
  letter-spacing: 0.0vw;
  line-height: 4.24vw;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 5.04vw;
  white-space: nowrap;
  width: 34.22vw;
}

.contact-2-all-breakpoints .your-message-N4xaux::placeholder {
  color: #9a9a9a99;
}

.contact-2-all-breakpoints .group-23 {
  background-color: transparent;
  width: 100%;
}

.contact-2-all-breakpoints .rectangle-13 {
  background-color: var(--aubergine);
  border: 1.06vw solid;
  border-color: var(--kilamanjaro);
  border-radius: 5.04vw;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.contact-2-all-breakpoints .rectangle-2 {
  background-color: var(--kilamanjaro);
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.contact-2-all-breakpoints .rectangle-3 {
  background-color: var(--aubergine);
  left: 0.0vw;
  position: absolute;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .screen.contact { 
    display: none;
   }
  .screen.contact-1 { 
    display: none;
   }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .screen.contact { 
    display: none;
   }
  .screen.contact-2-all-breakpoints { 
    display: none;
   }
}
@media screen and (min-width: 1281px) {
  .screen.contact-1 { 
    display: none;
   }
  .screen.contact-2-all-breakpoints { 
    display: none;
   }
}