/* screen - home */

.home {
  background-color: var(--log-cabin-2);
  display: block;
  height: 106.16vw;
  opacity: 0;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100.0vw;
}

.home.bp1-animate-enter {
  animation: bp1-animate-enter-frames 0.20s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.home .home-page-xl4bh6 {
  background-color: transparent;
  height: 149.77vw;
  left: -24.88vw;
  position: relative;
  top: 0.0vw;
  width: 149.77vw;
}

.home .widget-wrapper-odQYo4 {
  background-color: transparent;
  height: 149.77vw;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 149.77vw;
}

.home .bg_-home-rwowbt {
  background-color: transparent;
  mix-blend-mode: soft-light;
  overflow: hidden;
  width: 100%;
}

.home .bg_-home-rwowbt video {
  object-fit: cover;
  width: 100%;
}

.home .bg_-home-rwowbt img {
  object-fit: cover;
  width: 100%;
}

.home .nav-bar-odQYo4 {
  background-color: transparent;
  height: 6.79vw;
  left: 27.77vw;
  position: absolute;
  top: 0.62vw;
  width: 93.53vw;
}

.home .social-icons-L6hEmD {
  background-color: transparent;
  height: 40.23%;
  left: 91.91%;
  position: absolute;
  top: 29.89%;
  width: 8.09%;
}

.home .social_-icon_-artstation-Lvj3sI {
  background-color: transparent;
  cursor: pointer;
  height: 2.73vw;
  left: 4.06vw;
  pointer-events: auto;
  position: absolute;
  top: 0.0vw;
  transition: all 0.2s ease-in-out;
  width: 3.51vw;
}

.home .social_-icon_-artstation-Lvj3sI:hover {
  transform: scale(1.1);
}

.home .icon-awesome-artstation-txw4QH {
  background-color: transparent;
  height: calc(100.00% - 0.86vw);
  object-fit: cover;
  position: absolute;
  right: calc(47.61% - 1.01vw);
  top: 0.39vw;
  width: 2.11vw;
}

.home .social_-icon_-linkdin-Lvj3sI {
  background-color: transparent;
  cursor: pointer;
  height: 2.73vw;
  left: 0.0vw;
  pointer-events: auto;
  position: absolute;
  top: 0.0vw;
  transition: all 0.2s ease-in-out;
  width: 3.98vw;
}

.home .social_-icon_-linkdin-Lvj3sI:hover {
  transform: scale(1.1);
}

.home .icon-linkedin-BhwKM4 {
  background-color: transparent;
  height: 1.87vw;
  left: calc(49.93% - 0.94vw);
  object-fit: cover;
  position: absolute;
  top: 0.31vw;
  width: 1.87vw;
}

.home .logo-L6hEmD {
  background-color: transparent;
  height: 6.79vw;
  left: 36.86%;
  position: absolute;
  top: calc(50.00% - 3.43vw);
  width: 24.85%;
}

.home .my-logo_-image-cLS5sP {
  background-color: transparent;
  height: 6.79vw;
  object-fit: cover;
  position: absolute;
  right: 0.0vw;
  top: calc(50.00% - 3.43vw);
  width: 28.52%;
}

.home .mohammed-qamar-cLS5sP {
  background-color: transparent;
  bottom: calc(44.17% - 0.94vw);
  height: 2.11vw;
  letter-spacing: 0.0vw;
  line-height: 1.56vw;
  position: absolute;
  right: 7.41vw;
  text-align: left;
  white-space: nowrap;
  width: 68.12%;
}

.home .pages-L6hEmD {
  background-color: transparent;
  height: 43.68%;
  left: 0.0vw;
  position: absolute;
  top: 28.74%;
  width: 21.93%;
}

.home .contact-53vzJu {
  background-color: transparent;
  cursor: pointer;
  height: 2.96vw;
  left: 8.58vw;
  pointer-events: auto;
  position: absolute;
  top: 0.0vw;
  transition: all 0.2s ease;
  width: 11.93vw;
}

.home .contact-53vzJu:hover {
  transform: scale(1.1);
}

.home .contact-55AWez {
  background-color: transparent;
  height: 2.11vw;
  left: 1.01vw;
  letter-spacing: 0.0vw;
  line-height: 1.56vw;
  position: absolute;
  text-align: left;
  top: 0.47vw;
  white-space: nowrap;
  width: 6.55vw;
}

.home .icon-material-contact-mail-55AWez {
  background-color: transparent;
  height: 1.56vw;
  object-fit: cover;
  position: absolute;
  right: 1.79vw;
  top: 0.55vw;
  width: 2.03vw;
}

.home .work-53vzJu {
  background-color: transparent;
  cursor: pointer;
  height: 2.96vw;
  left: 0.0vw;
  mix-blend-mode: lighten;
  pointer-events: auto;
  position: absolute;
  top: 0.0vw;
  transition: all 0.2s ease;
  width: 8.58vw;
}

.home .work-53vzJu:hover {
  transform: scale(1.1);
}

.home .group-25-7xg2hI {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.home .work-gYZ5BW {
  background-color: transparent;
  height: 2.11vw;
  left: 1.01vw;
  letter-spacing: 0.0vw;
  line-height: 1.56vw;
  position: absolute;
  text-align: left;
  top: 0.47vw;
  white-space: nowrap;
  width: 3.98vw;
}

.home .icon-awesome-book-gYZ5BW {
  background-color: transparent;
  height: 1.64vw;
  object-fit: cover;
  position: absolute;
  right: 1.64vw;
  top: 0.39vw;
  width: 1.4vw;
}

.home .title-odQYo4 {
  height: 14.59vw;
  left: 40.41vw;
  top: 29.56vw;
  width: 69.11vw;
}

.home .title-0bmqji {
  height: 8.42vw;
  left: 0.0vw;
  letter-spacing: 0.0vw;
  line-height: 3.28vw;
  text-align: center;
  top: 0.0vw;
  width: calc(100.00% + 0.16vw);
}

.home .scroll-down-to-see-some-of-my-work-0bmqji {
  background-color: transparent;
  bottom: -0.16vw;
  height: 2.11vw;
  left: 7.33vw;
  letter-spacing: 0.0vw;
  line-height: 1.64vw;
  position: absolute;
  text-align: center;
  width: calc(100.00% - 14.51vw);
}

.home .footer-odQYo4 {
  background-color: transparent;
  height: 49.84vw;
  left: 24.88vw;
  position: absolute;
  top: 71.76vw;
  width: 100.0vw;
}

.home .group-24-7EphkZ {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.home .rectangle-2-WQOvlz {
  background-color: var(--kilamanjaro);
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.home .rectangle-3-WQOvlz {
  background-color: var(--aubergine);
  height: calc(100.00% - 4.99vw);
  left: 0.0vw;
  position: absolute;
  top: 4.99vw;
  width: 100%;
}

.home .buttons-7EphkZ {
  background-color: transparent;
  height: 18.25vw;
  left: calc(47.65% - 21.53vw);
  position: absolute;
  top: calc(30.12% - 5.46vw);
  width: 45.16vw;
}

.home .button_-games-8icFDP {
  background-color: transparent;
  cursor: pointer;
  height: 18.25vw;
  left: 0.0vw;
  pointer-events: auto;
  position: absolute;
  top: calc(50.00% - 9.13vw);
  transition: all 0.2s ease;
  width: 35.92%;
}

.home .button_-games-8icFDP:hover {
  transform: scale(1.1);
}

.home .icon-ionic-logo-game-controller-b-yPM3h5 {
  background-color: transparent;
  height: 10.3vw;
  left: calc(49.67% - 7.1vw);
  position: absolute;
  top: calc(50.00% - 5.15vw);
  width: 14.35vw;
}

.home .path-4-xxtIqr {
  background-color: transparent;
  height: 1.25vw;
  left: calc(20.48% - 0.23vw);
  object-fit: cover;
  position: absolute;
  top: calc(38.60% - 0.47vw);
  width: 1.25vw;
}

.home .path-5-xxtIqr {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.home .games-yPM3h5 {
  background-color: transparent;
  bottom: -0.16vw;
  height: 2.65vw;
  letter-spacing: 0.0vw;
  line-height: 1.95vw;
  position: absolute;
  right: calc(49.41% - 4.76vw);
  text-align: center;
  width: 9.59vw;
}

.home .button_3-d-art-8icFDP {
  background-color: transparent;
  cursor: pointer;
  height: 18.25vw;
  left: 35.73vw;
  pointer-events: auto;
  position: absolute;
  top: calc(50.00% - 9.13vw);
  transition: all 0.2s ease;
  width: 20.90%;
}

.home .button_3-d-art-8icFDP:hover {
  transform: scale(1.1);
}

.home .icon-feather-box-iGQwgm {
  background-color: transparent;
  height: 10.45vw;
  left: 0.0vw;
  position: absolute;
  top: calc(42.97% - 4.52vw);
  width: 9.44vw;
}

.home .path-1-N4SiPm {
  background-color: transparent;
  height: calc(100.00% + 0.23vw);
  left: -0.16vw;
  object-fit: cover;
  position: absolute;
  top: -0.16vw;
  width: calc(100.00% + 0.23vw);
}

.home .path-2-N4SiPm {
  background-color: transparent;
  height: 3.12vw;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: calc(32.05% - 1.01vw);
  width: 100%;
}

.home .path-3-N4SiPm {
  background-color: transparent;
  bottom: -0.08vw;
  height: 5.38vw;
  left: calc(50.00% - 0.08vw);
  object-fit: cover;
  position: absolute;
  width: 0.23vw;
}

.home .x3-d-art-iGQwgm {
  background-color: transparent;
  bottom: -0.16vw;
  height: 2.65vw;
  left: 0.0vw;
  letter-spacing: 0.0vw;
  line-height: 1.95vw;
  position: absolute;
  text-align: center;
  width: 9.59vw;
}
/* screen - home-1-all-breakpoints */

.home-1-all-breakpoints {
  background-color: var(--log-cabin-2);
  display: block;
  margin: 0.0vw;
  min-height: 281.25vw;
  min-width: 100.0vw;
  opacity: 0;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.home-1-all-breakpoints.bp2-animate-enter8 {
  animation: bp2-animate-enter8-frames 0.20s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter8-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.home-1-all-breakpoints .home-page-8FEdP2 {
  background-color: transparent;
  height: 100%;
  left: -75.00%;
  position: relative;
  top: 0.0vw;
  width: 250.00%;
}

.home-1-all-breakpoints .widget-wrapper-fwdE2b {
  background-color: transparent;
  height: 250.0vw;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 250.0vw;
}

.home-1-all-breakpoints .bg_-home-feiiSY {
  background-color: transparent;
  mix-blend-mode: soft-light;
  overflow: hidden;
  width: 100%;
}

.home-1-all-breakpoints .bg_-home-feiiSY video {
  object-fit: cover;
  width: 100%;
}

.home-1-all-breakpoints .bg_-home-feiiSY img {
  object-fit: cover;
  width: 100%;
}

.home-1-all-breakpoints .nav-bar-fwdE2b {
  background-color: transparent;
  height: 11.33vw;
  left: 79.82vw;
  position: absolute;
  top: 1.04vw;
  width: 89.19vw;
}

.home-1-all-breakpoints .social-icons-xkdZQh {
  background-color: transparent;
  height: 5.86vw;
  position: absolute;
  right: 0.0vw;
  top: calc(50.00% - 2.86vw);
  width: 16.41vw;
}

.home-1-all-breakpoints .social_-icon_-linkdin-ze0l1C {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 0.0vw;
  pointer-events: auto;
  position: absolute;
  top: 0.0vw;
  transition: all 0.2s ease-in-out;
  width: 8.59vw;
}

.home-1-all-breakpoints .social_-icon_-linkdin-ze0l1C:hover {
  transform: scale(1.1);
}

.home-1-all-breakpoints .icon-linkedin-xxmcH8 {
  background-color: transparent;
  height: 4.04vw;
  object-fit: cover;
  position: absolute;
  right: calc(49.41% - 2.08vw);
  top: 0.78vw;
  width: 4.17vw;
}

.home-1-all-breakpoints .social_-icon_-artstation-ze0l1C {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  pointer-events: auto;
  position: absolute;
  right: 0.0vw;
  top: 0.0vw;
  transition: all 0.2s ease-in-out;
  width: 7.55vw;
}

.home-1-all-breakpoints .social_-icon_-artstation-ze0l1C:hover {
  transform: scale(1.1);
}

.home-1-all-breakpoints .icon-awesome-artstation-eBDs5u {
  background-color: transparent;
  height: calc(100.00% - 1.82vw);
  object-fit: cover;
  position: absolute;
  right: calc(46.12% - 2.08vw);
  top: 0.91vw;
  width: 4.69vw;
}

.home-1-all-breakpoints .logo-xkdZQh {
  background-color: transparent;
  height: 11.33vw;
  left: 47.74%;
  position: absolute;
  top: calc(50.00% - 5.73vw);
  width: 27.01%;
}

.home-1-all-breakpoints .my-logo_-image-f5dtJA {
  background-color: transparent;
  height: 11.33vw;
  object-fit: cover;
  position: absolute;
  right: 0.0vw;
  top: calc(50.00% - 5.73vw);
  width: 45.95%;
}

.home-1-all-breakpoints .mohammed-qamar-f5dtJA {
  background-color: transparent;
  bottom: calc(29.79% - 1.56vw);
  color: var(--white);
  font-family: var(--font-family-itcavant_garde_gothic_std-demi);
  font-size: 1.95vw;
  font-style: normal;
  font-weight: 400;
  height: 5.21vw;
  letter-spacing: 0.0vw;
  line-height: 1.95vw;
  position: absolute;
  right: 11.2vw;
  text-align: right;
  white-space: nowrap;
  width: 53.51%;
}

.home-1-all-breakpoints .pages-xkdZQh {
  background-color: transparent;
  bottom: calc(45.45% - 2.6vw);
  height: 5.6vw;
  left: 0.0vw;
  position: absolute;
  width: 38.93vw;
}

.home-1-all-breakpoints .work-mw0A0r {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 0.0vw;
  mix-blend-mode: lighten;
  pointer-events: auto;
  position: absolute;
  top: 0.0vw;
  transition: all 0.2s ease;
  width: 16.28vw;
}

.home-1-all-breakpoints .work-mw0A0r:hover {
  transform: scale(1.1);
}

.home-1-all-breakpoints .group-25-0svrMQ {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.home-1-all-breakpoints .work-HAhfMB {
  background-color: transparent;
  height: 4.04vw;
  left: 1.95vw;
  letter-spacing: 0.0vw;
  line-height: 2.99vw;
  position: absolute;
  text-align: left;
  top: 1.04vw;
  white-space: nowrap;
  width: 7.68vw;
}

.home-1-all-breakpoints .icon-awesome-book-HAhfMB {
  background-color: transparent;
  height: 3.52vw;
  object-fit: cover;
  position: absolute;
  right: 1.69vw;
  top: 0.78vw;
  width: 3.12vw;
}

.home-1-all-breakpoints .contact-mw0A0r {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  pointer-events: auto;
  position: absolute;
  right: 0.0vw;
  top: 0.0vw;
  transition: all 0.2s ease;
  width: 22.66vw;
}

.home-1-all-breakpoints .contact-mw0A0r:hover {
  transform: scale(1.1);
}

.home-1-all-breakpoints .contact-8gUjct {
  background-color: transparent;
  height: 4.04vw;
  left: 1.95vw;
  letter-spacing: 0.0vw;
  line-height: 2.99vw;
  position: absolute;
  text-align: left;
  top: 1.04vw;
  white-space: nowrap;
  width: 12.5vw;
}

.home-1-all-breakpoints .icon-material-contact-mail-8gUjct {
  background-color: transparent;
  height: 3.52vw;
  object-fit: cover;
  position: absolute;
  right: 1.69vw;
  top: 0.78vw;
  width: 4.69vw;
}

.home-1-all-breakpoints .button_-scroll-down-fwdE2b {
  background-color: transparent;
  cursor: pointer;
  height: 7.16vw;
  left: 118.49vw;
  pointer-events: auto;
  position: absolute;
  top: 119.66vw;
  transition: all 0.2s ease;
  width: 13.02vw;
}

.home-1-all-breakpoints .button_-scroll-down-fwdE2b:hover {
  transform: scale(0.9); 
}

.home-1-all-breakpoints .icon-ionic-ios-arrow-down-ZvTqjr {
  background-color: transparent;
  bottom: calc(47.08% - 1.56vw);
  height: 3.26vw;
  left: calc(50.00% - 2.86vw);
  object-fit: cover;
  position: absolute;
  width: 5.73vw;
}

.home-1-all-breakpoints .title-fwdE2b {
  height: 45.05vw;
  left: 99.61vw;
  top: 61.72vw;
  width: 51.04vw;
}

.home-1-all-breakpoints .title-aCDp10 {
  height: 34.77vw;
  left: 2.47vw;
  letter-spacing: 0.0vw;
  line-height: 5.47vw;
  text-align: center;
  top: 0.0vw;
  width: calc(100.00% - 4.95vw);
}

.home-1-all-breakpoints .scroll-down-to-see-some-of-my-work-aCDp10 {
  background-color: transparent;
  bottom: -0.26vw;
  height: 3.52vw;
  left: 0.0vw;
  letter-spacing: 0.0vw;
  line-height: 2.73vw;
  position: absolute;
  text-align: center;
  width: calc(100.00% + 0.26vw);
}

.home-1-all-breakpoints .footer-fwdE2b {
  background-color: transparent;
  height: 83.2vw;
  left: 75.0vw;
  position: absolute;
  top: 198.05vw;
  width: 100.0vw;
}

.home-1-all-breakpoints .group-24-xmpy7h {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.home-1-all-breakpoints .rectangle-2-QKJ40Y {
  background-color: var(--kilamanjaro);
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.home-1-all-breakpoints .rectangle-3-QKJ40Y {
  background-color: var(--aubergine);
  height: calc(100.00% - 8.33vw);
  left: 0.0vw;
  position: absolute;
  top: 8.33vw;
  width: 100%;
}

.home-1-all-breakpoints .buttons-xmpy7h {
  background-color: transparent;
  bottom: calc(39.75% - 12.11vw);
  height: 30.47vw;
  left: 21.03%;
  position: absolute;
  width: 55.86%;
}

.home-1-all-breakpoints .button_3-d-art-BaHuB0 {
  background-color: transparent;
  cursor: pointer;
  height: 30.47vw;
  left: 40.1vw;
  pointer-events: auto;
  position: absolute;
  top: calc(50.00% - 15.23vw);
  transition: all 0.2s ease;
  width: 28.27%;
}

.home-1-all-breakpoints .button_3-d-art-BaHuB0:hover {
  transform: scale(1.1);
}

.home-1-all-breakpoints .icon-feather-box-ymjZip {
  background-color: transparent;
  height: 17.45vw;
  left: 0.0vw;
  position: absolute;
  top: calc(42.97% - 7.55vw);
  width: 15.76vw;
}

.home-1-all-breakpoints .path-1-xk9rTQ {
  background-color: transparent;
  height: calc(100.00% + 0.39vw);
  left: -0.26vw;
  object-fit: cover;
  position: absolute;
  top: -0.26vw;
  width: calc(100.00% + 0.39vw);
}

.home-1-all-breakpoints .path-2-xk9rTQ {
  background-color: transparent;
  height: 5.21vw;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: calc(32.05% - 1.69vw);
  width: 100%;
}

.home-1-all-breakpoints .path-3-xk9rTQ {
  background-color: transparent;
  bottom: -0.13vw;
  height: 8.98vw;
  left: calc(50.00% - 0.13vw);
  object-fit: cover;
  position: absolute;
  width: 0.39vw;
}

.home-1-all-breakpoints .x3-d-art-ymjZip {
  background-color: transparent;
  bottom: -0.26vw;
  height: 4.43vw;
  left: 0.23%;
  letter-spacing: 0.0vw;
  line-height: 3.26vw;
  position: absolute;
  text-align: center;
  width: 16.02vw;
}

.home-1-all-breakpoints .button_-games-BaHuB0 {
  background-color: transparent;
  cursor: pointer;
  height: 30.47vw;
  left: 0.0vw;
  pointer-events: auto;
  position: absolute;
  top: calc(50.00% - 15.23vw);
  transition: all 0.2s ease;
  width: 42.89%;
}

.home-1-all-breakpoints .button_-games-BaHuB0:hover {
  transform: scale(1.1);
}

.home-1-all-breakpoints .icon-ionic-logo-game-controller-b-jPkCfo {
  background-color: transparent;
  height: 17.19vw;
  left: calc(50.00% - 11.98vw);
  position: absolute;
  top: calc(50.00% - 8.59vw);
  width: 23.96vw;
}

.home-1-all-breakpoints .path-4-usEIdm {
  background-color: transparent;
  height: 2.08vw;
  left: calc(20.48% - 0.39vw);
  object-fit: cover;
  position: absolute;
  top: calc(38.60% - 0.78vw);
  width: 2.08vw;
}

.home-1-all-breakpoints .path-5-usEIdm {
  background-color: transparent;
  height: 100%;
  left: 0.13vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.home-1-all-breakpoints .games-jPkCfo {
  background-color: transparent;
  bottom: -0.26vw;
  height: 4.43vw;
  letter-spacing: 0.0vw;
  line-height: 3.26vw;
  position: absolute;
  right: calc(47.48% - 7.55vw);
  text-align: center;
  width: 16.02vw;
}
/* screen - home-2 */

.home-2 {
  background-color: var(--log-cabin-2);
  display: block;
  height: 382.18vw;
  opacity: 0;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100.0vw;
}

.home-2.bp3-animate-enter8 {
  animation: bp3-animate-enter8-frames 0.20s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter8-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.home-2 .home-page-ZBGDB0 {
  background-color: transparent;
  height: 510.64vw;
  left: -205.32vw;
  position: relative;
  top: 0.0vw;
  width: 510.64vw;
}

.home-2 .widget-wrapper-qDxy0M {
  background-color: transparent;
  height: 510.64vw;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 510.64vw;
}

.home-2 .bg_-home-FCElEM {
  background-color: transparent;
  mix-blend-mode: soft-light;
  overflow: hidden;
  width: 100%;
}

.home-2 .bg_-home-FCElEM video {
  object-fit: cover;
  width: 100%;
}

.home-2 .bg_-home-FCElEM img {
  object-fit: cover;
  width: 100%;
}

.home-2 .nav-bar-qDxy0M {
  background-color: transparent;
  height: 23.67vw;
  left: 205.85vw;
  position: absolute;
  top: 2.66vw;
  width: 97.34vw;
}

.home-2 .social-icons-xtWeZP {
  background-color: transparent;
  height: calc(100.00% - 5.05vw);
  position: absolute;
  right: 0.0vw;
  top: 2.66vw;
  width: 10.11vw;
}

.home-2 .social_-icon_-artstation-bskoWK {
  background-color: transparent;
  bottom: 0.0vw;
  cursor: pointer;
  height: 7.45vw;
  left: 0.27vw;
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease-in-out;
  width: calc(100.00% - 0.53vw);
}

.home-2 .social_-icon_-artstation-bskoWK:hover {
  transform: scale(1.1);
}

.home-2 .icon-awesome-artstation-C7Wt7y {
  background-color: transparent;
  height: calc(100.00% - 2.39vw);
  object-fit: cover;
  position: absolute;
  right: calc(47.88% - 2.66vw);
  top: 1.06vw;
  width: 5.85vw;
}

.home-2 .social_-icon_-linkdin-bskoWK {
  background-color: transparent;
  cursor: pointer;
  height: 6.91vw;
  left: 0.0vw;
  pointer-events: auto;
  position: absolute;
  top: 0.0vw;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.home-2 .social_-icon_-linkdin-bskoWK:hover {
  transform: scale(1.1);
}

.home-2 .icon-linkedin-c9uAiL {
  background-color: transparent;
  height: 5.05vw;
  object-fit: cover;
  position: absolute;
  right: calc(49.00% - 2.39vw);
  top: 0.8vw;
  width: 5.05vw;
}

.home-2 .logo-xtWeZP {
  background-color: transparent;
  height: 22.07vw;
  left: 39.62%;
  position: absolute;
  top: 0.0vw;
  width: 22.40%;
}

.home-2 .my-logo_-image-7opxFO {
  background-color: transparent;
  height: 22.07vw;
  object-fit: cover;
  position: absolute;
  right: 0.0vw;
  top: calc(50.00% - 11.17vw);
  width: 100%;
}

.home-2 .pages-xtWeZP {
  background-color: transparent;
  height: calc(100.00% - 1.86vw);
  left: 0.0vw;
  position: absolute;
  top: 1.86vw;
  width: 39.89vw;
}

.home-2 .contact-fHeCkT {
  background-color: transparent;
  bottom: 0.0vw;
  cursor: pointer;
  height: 9.84vw;
  left: 0.0vw;
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease;
  width: 100%;
}

.home-2 .contact-fHeCkT:hover {
  transform: scale(1.1);
}

.home-2 .contact-6xGY19 {
  background-color: transparent;
  height: 5.85vw;
  left: 3.46vw;
  letter-spacing: 0.0vw;
  line-height: 4.26vw;
  position: absolute;
  text-align: left;
  top: 2.39vw;
  white-space: nowrap;
  width: 18.09vw;
}

.home-2 .work-fHeCkT {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 11.97vw);
  left: 0.0vw;
  mix-blend-mode: lighten;
  pointer-events: auto;
  position: absolute;
  top: 0.0vw;
  transition: all 0.2s ease;
  width: 28.46vw;
}

.home-2 .work-fHeCkT:hover {
  transform: scale(1.1);
}

.home-2 .group-25-l9UbU2 {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.home-2 .work-gpRmKx {
  background-color: transparent;
  height: 5.85vw;
  left: 3.46vw;
  letter-spacing: 0.0vw;
  line-height: 4.26vw;
  position: absolute;
  text-align: left;
  top: 2.66vw;
  white-space: nowrap;
  width: 10.9vw;
}

.home-2 .button_-scroll-down-qDxy0M {
  background-color: transparent;
  cursor: pointer;
  height: 14.63vw;
  left: 242.02vw;
  pointer-events: auto;
  position: absolute;
  top: 158.24vw;
  transition: all 0.2s ease;
  width: 26.6vw;
}

.home-2 .button_-scroll-down-qDxy0M:hover {
  transform: scale(0.9); 
}

.home-2 .icon-ionic-ios-arrow-down-j9LJGA {
  background-color: transparent;
  bottom: calc(47.08% - 3.19vw);
  height: 6.65vw;
  left: calc(50.00% - 5.85vw);
  object-fit: cover;
  position: absolute;
  width: 11.7vw;
}

.home-2 .title-qDxy0M {
  height: 58.78vw;
  left: 221.01vw;
  top: 73.67vw;
  width: 71.28vw;
}

.home-2 .title-DsGQ9R {
  height: 34.57vw;
  left: 0.0vw;
  letter-spacing: 0.0vw;
  line-height: 6.65vw;
  text-align: center;
  top: 0.0vw;
  width: calc(100.00% + 0.53vw);
}

.home-2 .scroll-down-to-see-some-of-my-work-DsGQ9R {
  background-color: transparent;
  bottom: -0.53vw;
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
  height: 10.64vw;
  left: 7.98vw;
  letter-spacing: 0.0vw;
  line-height: 4.26vw;
  position: absolute;
  text-align: center;
  width: calc(100.00% - 15.69vw);
}

.home-2 .footer-qDxy0M {
  background-color: transparent;
  height: 169.95vw;
  left: 205.32vw;
  position: absolute;
  top: 212.5vw;
  width: 100.0vw;
}

.home-2 .group-24-wLdKB0 {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.home-2 .rectangle-2-LjBaXF {
  background-color: var(--kilamanjaro);
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.home-2 .rectangle-3-LjBaXF {
  background-color: var(--aubergine);
  height: calc(100.00% - 17.02vw);
  left: 0.0vw;
  position: absolute;
  top: 17.02vw;
  width: 100%;
}

.home-2 .buttons-wLdKB0 {
  background-color: transparent;
  bottom: calc(38.95% - 46.54vw);
  height: 119.41vw;
  left: 25.53%;
  position: absolute;
  width: 48.94%;
}

.home-2 .button_3-d-art-1xOjlg {
  background-color: transparent;
  bottom: 0.0vw;
  cursor: pointer;
  height: 54.52vw;
  left: 8.24vw;
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease;
  width: 65.91%;
}

.home-2 .button_3-d-art-1xOjlg:hover {
  transform: scale(1.1);
}

.home-2 .icon-feather-box-yv8Xw9 {
  background-color: transparent;
  height: 35.64vw;
  left: 0.0vw;
  position: absolute;
  top: calc(39.31% - 14.1vw);
  width: 32.18vw;
}

.home-2 .path-1-SJVfZ9 {
  background-color: transparent;
  height: calc(100.00% + 0.8vw);
  left: -0.53vw;
  object-fit: cover;
  position: absolute;
  top: -0.53vw;
  width: calc(100.00% + 0.8vw);
}

.home-2 .path-2-SJVfZ9 {
  background-color: transparent;
  height: 10.64vw;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: calc(32.05% - 3.46vw);
  width: 100%;
}

.home-2 .path-3-SJVfZ9 {
  background-color: transparent;
  bottom: -0.27vw;
  height: 18.35vw;
  left: calc(50.00% - 0.27vw);
  object-fit: cover;
  position: absolute;
  width: 0.8vw;
}

.home-2 .x3-d-art-yv8Xw9 {
  background-color: transparent;
  bottom: -0.53vw;
  height: 9.04vw;
  left: 0.23%;
  letter-spacing: 0.0vw;
  line-height: 6.65vw;
  position: absolute;
  text-align: center;
  width: 32.71vw;
}

.home-2 .button_-games-1xOjlg {
  background-color: transparent;
  cursor: pointer;
  height: 51.86vw;
  left: 0.0vw;
  pointer-events: auto;
  position: absolute;
  top: 0.0vw;
  transition: all 0.2s ease;
  width: 100%;
}

.home-2 .button_-games-1xOjlg:hover {
  transform: scale(1.1);
}

.home-2 .icon-ionic-logo-game-controller-b-nlNMnG {
  background-color: transparent;
  height: 35.11vw;
  left: calc(50.00% - 24.47vw);
  position: absolute;
  top: calc(50.00% - 17.55vw);
  width: 48.94vw;
}

.home-2 .path-4-wTaIZL {
  background-color: transparent;
  height: 4.26vw;
  left: calc(20.48% - 0.8vw);
  object-fit: cover;
  position: absolute;
  top: calc(38.60% - 1.6vw);
  width: 4.26vw;
}

.home-2 .path-5-wTaIZL {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.home-2 .games-nlNMnG {
  background-color: transparent;
  bottom: -0.53vw;
  height: 9.04vw;
  letter-spacing: 0.0vw;
  line-height: 6.65vw;
  position: absolute;
  right: calc(48.36% - 15.69vw);
  text-align: center;
  width: 32.71vw;
}
@media screen and (max-width: 767px) {
  .screen.home { 
    display: none;
   }
  .screen.home-1-all-breakpoints { 
    display: none;
   }
}
@media screen and (min-width: 768px) and (max-width: 1281px) {
  .screen.home { 
    display: none;
   }
  .screen.home-2 { 
    display: none;
   }
}
@media screen and (min-width: 1282px) {
  .screen.home-1-all-breakpoints { 
    display: none;
   }
  .screen.home-2 { 
    display: none;
   }
}