:root { 
  --aubergine: #37040f;
  --black-shadows: #bfb2b2;
  --kilamanjaro: #240900;
  --log-cabin: #222222;
  --log-cabin-2: #212121;
  --mountain-mist: #979797;
  --red: #ff0000;
  --star-dust: #9a9a9a;
  --white: #ffffff;
 
  --font-size-l: 20px;
  --font-size-m: 16px;
  --font-size-s: 14px;
  --font-size-xl: 23px;
  --font-size-xs: 12px;
  --font-size-xxl: 25px;
  --font-size-xxxl: 42px;
 
  --font-family-itcavant_garde_gothic_std-demi: "ITCAvant Garde Gothic Std-Demi", Helvetica;
  --font-family-montserrat: "Montserrat", Helvetica;
}
.itcavantgardegothicstd-demi-normal-white-16px {
  color: var(--white);
  font-family: var(--font-family-itcavant_garde_gothic_std-demi);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.itcavantgardegothicstd-demi-normal-white-20px {
  color: var(--white);
  font-family: var(--font-family-itcavant_garde_gothic_std-demi);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.itcavantgardegothicstd-demi-normal-white-25px {
  color: var(--white);
  font-family: var(--font-family-itcavant_garde_gothic_std-demi);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.itcavantgardegothicstd-demi-normal-white-23px {
  color: var(--white);
  font-family: var(--font-family-itcavant_garde_gothic_std-demi);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.itcavantgardegothicstd-demi-normal-white-12px {
  color: var(--white);
  font-family: var(--font-family-itcavant_garde_gothic_std-demi);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.itcavantgardegothicstd-demi-normal-white-10px {
  color: var(--white);
  font-family: var(--font-family-itcavant_garde_gothic_std-demi);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

.montserrat-medium-white-42px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 500;
}

.itcavantgardegothicstd-demi-normal-white-14px {
  color: var(--white);
  font-family: var(--font-family-itcavant_garde_gothic_std-demi);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.itcavantgardegothicstd-demi-normal-white-11px {
  color: var(--white);
  font-family: var(--font-family-itcavant_garde_gothic_std-demi);
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
}

.montserrat-medium-white-24px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

.montserrat-normal-white-16px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.itcavantgardegothicstd-demi-normal-white-42px {
  color: var(--white);
  font-family: var(--font-family-itcavant_garde_gothic_std-demi);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.montserrat-medium-white-21px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
}

.itcavantgardegothicstd-demi-normal-mountain-mist-25px {
  color: var(--mountain-mist);
  font-family: var(--font-family-itcavant_garde_gothic_std-demi);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.itcavantgardegothicstd-demi-normal-white-19px {
  color: var(--white);
  font-family: var(--font-family-itcavant_garde_gothic_std-demi);
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
}

.itcavantgardegothicstd-demi-normal-black-shadows-20px {
  color: var(--black-shadows);
  font-family: var(--font-family-itcavant_garde_gothic_std-demi);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.itcavantgardegothicstd-demi-normal-star-dust-16px {
  color: var(--star-dust);
  font-family: var(--font-family-itcavant_garde_gothic_std-demi);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

:root {
}
