/* screen - thanks-1 */

.thanks-1 {
  background-color: var(--log-cabin);
  margin: 0.0vw;
  min-height: 87.11vw;
  min-width: 100.0vw;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.thanks-1 .group-3-2TZLbk {
  background-color: transparent;
  height: 23.57vw;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  transform: rotate(180deg);
  width: 100%;
}

.thanks-1 .rectangle-3-VyVxfV {
  bottom: 0.0vw;
  height: 14.06vw;
}

.thanks-1 .title-2TZLbk {
  height: 3.78vw;
  right: calc(50.00% - 4.17vw);
  top: calc(20.36% - 0.78vw);
  width: 8.33vw;
}

.thanks-1 .home-gQl3t9 {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.thanks-1 .title-Qs62zd {
  height: calc(100.00% + 0.26vw);
  left: 0.0vw;
  letter-spacing: 0.0vw;
  line-height: 3.12vw;
  text-align: center;
  top: 0.26vw;
  white-space: nowrap;
  width: calc(100.00% + 0.26vw);
}

.thanks-1 .group-2-2TZLbk {
  background-color: transparent;
  bottom: -11.33vw;
  height: 30.08vw;
  left: 0.0vw;
  position: absolute;
  width: 100%;
}

.thanks-1 .rectangle-3-3FhJsD {
  height: calc(100.00% - 6.77vw);
  top: 6.77vw;
}

.thanks-1 .nav-bar-2TZLbk {
  background-color: transparent;
  height: 10.16vw;
  left: 1.17vw;
  position: absolute;
  top: 2.21vw;
  width: calc(100.00% - 3.26vw);
}

.thanks-1 .social-icons-RMnCPd {
  background-color: transparent;
  height: calc(100.00% - 2.47vw);
  position: absolute;
  right: 0.13vw;
  top: 1.04vw;
  width: 5.08vw;
}

.thanks-1 .social_-icon_-artstation-ux4WRY {
  background-color: transparent;
  bottom: 0.0vw;
  cursor: pointer;
  height: 3.39vw;
  left: 0.39vw;
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease;
  width: calc(100.00% - 0.65vw);
}

.thanks-1 .social_-icon_-artstation-ux4WRY:hover {
  transform: scale(1.1);
}

.thanks-1 .icon-awesome-artstation-5ycESA {
  background-color: transparent;
  height: calc(100.00% - 1.04vw);
  object-fit: cover;
  position: absolute;
  right: calc(46.14% - 1.3vw);
  top: 0.52vw;
  width: 2.73vw;
}

.thanks-1 .social_-icon_-linkdin-ux4WRY {
  background-color: transparent;
  cursor: pointer;
  height: 3.39vw;
  left: 0.0vw;
  pointer-events: auto;
  position: absolute;
  top: 0.0vw;
  transition: all 0.2s ease;
  width: 100%;
}

.thanks-1 .social_-icon_-linkdin-ux4WRY:hover {
  transform: scale(1.1);
}

.thanks-1 .icon-linkedin-YiYFZT {
  background-color: transparent;
  height: 2.34vw;
  left: calc(49.81% - 1.17vw);
  object-fit: cover;
  position: absolute;
  top: 0.39vw;
  width: 2.34vw;
}

.thanks-1 .logo-RMnCPd {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 0.39vw);
  pointer-events: auto;
  position: absolute;
  right: calc(49.48% - 4.82vw);
  top: 0.0vw;
  transition: all 0.2s ease;
  width: 9.64vw;
}

.thanks-1 .logo-RMnCPd:hover {
  transform: scale(0.9); 
}

.thanks-1 .my-logo_-image-wqCFju {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.thanks-1 .work-RMnCPd {
  background-color: transparent;
  cursor: pointer;
  height: 5.6vw;
  left: 0.0vw;
  mix-blend-mode: lighten;
  pointer-events: auto;
  position: absolute;
  top: 0.52vw;
  transition: all 0.2s ease;
  width: 16.28vw;
}

.thanks-1 .work-RMnCPd:hover {
  transform: scale(1.1);
}

.thanks-1 .group-25-NoyIC4 {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.thanks-1 .work-7EA6lD {
  background-color: transparent;
  height: 2.86vw;
  left: 1.95vw;
  letter-spacing: 0.0vw;
  line-height: 2.08vw;
  position: absolute;
  text-align: left;
  top: 1.82vw;
  white-space: nowrap;
  width: 5.34vw;
}

.thanks-1 .icon-awesome-book-7EA6lD {
  background-color: transparent;
  height: 3.52vw;
  object-fit: cover;
  position: absolute;
  right: 1.69vw;
  top: 0.78vw;
  width: 3.12vw;
}

.thanks-1 .contact-RMnCPd {
  background-color: transparent;
  bottom: 0.0vw;
  cursor: pointer;
  height: 5.6vw;
  left: 0.0vw;
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease;
  width: 22.66vw;
}

.thanks-1 .contact-RMnCPd:hover {
  transform: scale(1.1);
}

.thanks-1 .contact-3uMhzE {
  background-color: transparent;
  height: 2.86vw;
  left: 1.95vw;
  letter-spacing: 0.0vw;
  line-height: 2.08vw;
  position: absolute;
  text-align: left;
  top: 1.82vw;
  white-space: nowrap;
  width: 8.85vw;
}

.thanks-1 .icon-material-contact-mail-3uMhzE {
  background-color: transparent;
  height: 3.52vw;
  object-fit: cover;
  position: absolute;
  right: 1.69vw;
  top: 0.78vw;
  width: 4.69vw;
}

.thanks-1 .thank-you-for-your-m-2TZLbk {
  background-color: transparent;
  height: 5.21vw;
  letter-spacing: 0.0vw;
  line-height: 2.08vw;
  position: absolute;
  right: calc(49.81% - 15.1vw);
  text-align: center;
  top: calc(37.20% - 1.95vw);
  white-space: nowrap;
  width: 30.21vw;
}

.thanks-1 .giphy-2TZLbk {
  background-color: transparent;
  bottom: calc(41.57% - 7.94vw);
  height: 19.14vw;
  overflow: hidden;
  position: absolute;
  right: calc(49.92% - 9.51vw);
  width: 19.14vw;
}

.thanks-1 .rectangle-2 {
  background-color: var(--kilamanjaro);
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.thanks-1 .rectangle-3 {
  background-color: var(--aubergine);
  left: 0.0vw;
  position: absolute;
  width: 100%;
}
/* screen - thanks-all-breakpoints */

.thanks-all-breakpoints {
  background-color: var(--log-cabin);
  height: 177.45vw;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100.0vw;
}

.thanks-all-breakpoints .group-3-KPCmol {
  background-color: transparent;
  height: 48.01vw;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  transform: rotate(180deg);
  width: 100.0vw;
}

.thanks-all-breakpoints .rectangle-3-2TQ4X1 {
  bottom: 0.0vw;
  height: 28.65vw;
}

.thanks-all-breakpoints .title-KPCmol {
  height: 7.69vw;
  left: 41.64vw;
  top: 34.48vw;
  width: 16.98vw;
}

.thanks-all-breakpoints .home-O6F6UO {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.thanks-all-breakpoints .title-0v5xde {
  height: calc(100.00% + 0.53vw);
  left: 0.0vw;
  letter-spacing: 0.0vw;
  line-height: 6.37vw;
  text-align: center;
  top: 0.53vw;
  white-space: nowrap;
  width: calc(100.00% + 0.53vw);
}

.thanks-all-breakpoints .group-2-KPCmol {
  background-color: transparent;
  height: 61.27vw;
  left: 0.0vw;
  position: absolute;
  top: 139.26vw;
  width: 100.0vw;
}

.thanks-all-breakpoints .rectangle-3-IjTAMJ {
  height: calc(100.00% - 13.79vw);
  top: 13.79vw;
}

.thanks-all-breakpoints .nav-bar-KPCmol {
  background-color: transparent;
  height: 20.69vw;
  left: 2.39vw;
  position: absolute;
  top: 4.51vw;
  width: 93.37vw;
}

.thanks-all-breakpoints .social-icons-Ebnbgk {
  background-color: transparent;
  height: calc(100.00% - 5.04vw);
  position: absolute;
  right: 0.0vw;
  top: 2.12vw;
  width: 10.34vw;
}

.thanks-all-breakpoints .social_-icon_-artstation-vvPmPe {
  background-color: transparent;
  bottom: 0.0vw;
  cursor: pointer;
  height: 6.9vw;
  left: 0.8vw;
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease;
  width: calc(100.00% - 1.33vw);
}

.thanks-all-breakpoints .social_-icon_-artstation-vvPmPe:hover {
  transform: scale(1.1);
}

.thanks-all-breakpoints .icon-awesome-artstation-zwgyaj {
  background-color: transparent;
  height: calc(100.00% - 2.12vw);
  object-fit: cover;
  position: absolute;
  right: calc(46.14% - 2.65vw);
  top: 1.06vw;
  width: 5.57vw;
}

.thanks-all-breakpoints .social_-icon_-linkdin-vvPmPe {
  background-color: transparent;
  cursor: pointer;
  height: 6.9vw;
  left: 0.0vw;
  pointer-events: auto;
  position: absolute;
  top: 0.0vw;
  transition: all 0.2s ease;
  width: 100%;
}

.thanks-all-breakpoints .social_-icon_-linkdin-vvPmPe:hover {
  transform: scale(1.1);
}

.thanks-all-breakpoints .icon-linkedin-UJXmls {
  background-color: transparent;
  height: 4.77vw;
  left: calc(49.81% - 2.39vw);
  object-fit: cover;
  position: absolute;
  top: 0.8vw;
  width: 4.77vw;
}

.thanks-all-breakpoints .logo-Ebnbgk {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 0.8vw);
  pointer-events: auto;
  position: absolute;
  right: calc(48.56% - 9.55vw);
  top: 0.0vw;
  transition: all 0.2s ease;
  width: 19.63vw;
}

.thanks-all-breakpoints .logo-Ebnbgk:hover {
  transform: scale(0.9); 
}

.thanks-all-breakpoints .my-logo_-image-E7bZtW {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.thanks-all-breakpoints .work-Ebnbgk {
  background-color: transparent;
  cursor: pointer;
  height: 11.41vw;
  left: 0.0vw;
  mix-blend-mode: lighten;
  pointer-events: auto;
  position: absolute;
  top: 1.06vw;
  transition: all 0.2s ease;
  width: 33.16vw;
}

.thanks-all-breakpoints .work-Ebnbgk:hover {
  transform: scale(1.1);
}

.thanks-all-breakpoints .group-25-ImoYeb {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.thanks-all-breakpoints .work-xqm7R1 {
  background-color: transparent;
  height: 5.84vw;
  left: 3.98vw;
  letter-spacing: 0.0vw;
  line-height: 4.24vw;
  position: absolute;
  text-align: left;
  top: 3.71vw;
  white-space: nowrap;
  width: 10.88vw;
}

.thanks-all-breakpoints .icon-awesome-book-xqm7R1 {
  background-color: transparent;
  height: 7.16vw;
  object-fit: cover;
  position: absolute;
  right: 3.45vw;
  top: 1.59vw;
  width: 6.37vw;
}

.thanks-all-breakpoints .contact-Ebnbgk {
  background-color: transparent;
  bottom: 0.0vw;
  cursor: pointer;
  height: 11.41vw;
  left: 0.0vw;
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease;
  width: 46.15vw;
}

.thanks-all-breakpoints .contact-Ebnbgk:hover {
  transform: scale(1.1);
}

.thanks-all-breakpoints .contact-FFAIMv {
  background-color: transparent;
  height: 5.84vw;
  left: 3.98vw;
  letter-spacing: 0.0vw;
  line-height: 4.24vw;
  position: absolute;
  text-align: left;
  top: 3.71vw;
  white-space: nowrap;
  width: 18.04vw;
}

.thanks-all-breakpoints .icon-material-contact-mail-FFAIMv {
  background-color: transparent;
  height: 7.16vw;
  object-fit: cover;
  position: absolute;
  right: 3.45vw;
  top: 1.59vw;
  width: 9.55vw;
}

.thanks-all-breakpoints .thank-you-for-your-m-KPCmol {
  background-color: transparent;
  height: auto;
  left: 20.42vw;
  letter-spacing: 0.0vw;
  line-height: 4.24vw;
  position: absolute;
  text-align: center;
  top: 62.07vw;
  white-space: nowrap;
  width: auto;
}

.thanks-all-breakpoints .giphy-KPCmol {
  background-color: transparent;
  height: 38.99vw;
  left: 29.71vw;
  overflow: hidden;
  position: absolute;
  top: 80.9vw;
  width: 38.99vw;
}

.thanks-all-breakpoints .rectangle-2 {
  background-color: var(--kilamanjaro);
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.thanks-all-breakpoints .rectangle-3 {
  background-color: var(--aubergine);
  left: 0.0vw;
  position: absolute;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .screen.thanks-1 { 
    display: none;
   }
}
@media screen and (min-width: 768px) {
  .screen.thanks-all-breakpoints { 
    display: none;
   }
}