/* screen - thanks-2 */

.thanks-2 {
  background-color: var(--log-cabin);
  margin: 0.0vw;
  min-height: 52.14vw;
  min-width: 100.0vw;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.thanks-2 .group-3-EiuExx {
  background-color: transparent;
  height: 14.11vw;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  transform: rotate(180deg);
  width: 100%;
}

.thanks-2 .rectangle-3-tutD88 {
  bottom: 0.0vw;
  height: 8.42vw;
}

.thanks-2 .title-EiuExx {
  height: 2.26vw;
  right: calc(50.00% - 2.49vw);
  top: calc(20.36% - 0.47vw);
  width: 4.99vw;
}

.thanks-2 .home-l6PpGx {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.thanks-2 .title-rWzxS9 {
  height: calc(100.00% + 0.16vw);
  left: 0.0vw;
  letter-spacing: 0.0vw;
  line-height: 1.87vw;
  text-align: center;
  top: 0.16vw;
  white-space: nowrap;
  width: calc(100.00% + 0.16vw);
}

.thanks-2 .group-2-EiuExx {
  background-color: transparent;
  bottom: -6.78vw;
  height: 18.0vw;
  left: 0.0vw;
  position: absolute;
  width: 100%;
}

.thanks-2 .rectangle-3-hq2GGw {
  height: calc(100.00% - 4.05vw);
  top: 4.05vw;
}

.thanks-2 .nav-bar-EiuExx {
  background-color: transparent;
  height: 6.08vw;
  left: 0.7vw;
  position: absolute;
  top: 1.33vw;
  width: calc(100.00% - 1.95vw);
}

.thanks-2 .social-icons-6lX4DM {
  background-color: transparent;
  height: calc(100.00% - 1.48vw);
  position: absolute;
  right: 0.08vw;
  top: 0.62vw;
  width: 3.04vw;
}

.thanks-2 .social_-icon_-artstation-WaWbVl {
  background-color: transparent;
  bottom: 0.0vw;
  cursor: pointer;
  height: 2.03vw;
  left: 0.23vw;
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease;
  width: calc(100.00% - 0.39vw);
}

.thanks-2 .social_-icon_-artstation-WaWbVl:hover {
  transform: scale(1.1);
}

.thanks-2 .icon-awesome-artstation-SKkIOJ {
  background-color: transparent;
  height: calc(100.00% - 0.62vw);
  object-fit: cover;
  position: absolute;
  right: calc(46.14% - 0.78vw);
  top: 0.31vw;
  width: 1.64vw;
}

.thanks-2 .social_-icon_-linkdin-WaWbVl {
  background-color: transparent;
  cursor: pointer;
  height: 2.03vw;
  left: 0.0vw;
  pointer-events: auto;
  position: absolute;
  top: 0.0vw;
  transition: all 0.2s ease;
  width: 100%;
}

.thanks-2 .social_-icon_-linkdin-WaWbVl:hover {
  transform: scale(1.1);
}

.thanks-2 .icon-linkedin-HKR0uc {
  background-color: transparent;
  height: 1.4vw;
  left: calc(49.81% - 0.7vw);
  object-fit: cover;
  position: absolute;
  top: 0.23vw;
  width: 1.4vw;
}

.thanks-2 .logo-6lX4DM {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 0.23vw);
  pointer-events: auto;
  position: absolute;
  right: calc(49.66% - 2.88vw);
  top: 0.0vw;
  transition: all 0.2s ease;
  width: 5.77vw;
}

.thanks-2 .logo-6lX4DM:hover {
  transform: scale(0.9); 
}

.thanks-2 .my-logo_-image-K6jwId {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.thanks-2 .work-6lX4DM {
  background-color: transparent;
  cursor: pointer;
  height: 3.35vw;
  left: 0.0vw;
  mix-blend-mode: lighten;
  pointer-events: auto;
  position: absolute;
  top: 0.31vw;
  transition: all 0.2s ease;
  width: 9.74vw;
}

.thanks-2 .work-6lX4DM:hover {
  transform: scale(1.1);
}

.thanks-2 .group-25-IEwp28 {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.thanks-2 .work-zLWbwk {
  background-color: transparent;
  height: 1.71vw;
  left: 1.17vw;
  letter-spacing: 0.0vw;
  line-height: 1.25vw;
  position: absolute;
  text-align: left;
  top: 1.09vw;
  white-space: nowrap;
  width: 3.2vw;
}

.thanks-2 .icon-awesome-book-zLWbwk {
  background-color: transparent;
  height: 2.1vw;
  object-fit: cover;
  position: absolute;
  right: 1.01vw;
  top: 0.47vw;
  width: 1.87vw;
}

.thanks-2 .contact-6lX4DM {
  background-color: transparent;
  bottom: 0.0vw;
  cursor: pointer;
  height: 3.35vw;
  left: 0.0vw;
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease;
  width: 13.56vw;
}

.thanks-2 .contact-6lX4DM:hover {
  transform: scale(1.1);
}

.thanks-2 .contact-pjSCtz {
  background-color: transparent;
  height: 1.71vw;
  left: 1.17vw;
  letter-spacing: 0.0vw;
  line-height: 1.25vw;
  position: absolute;
  text-align: left;
  top: 1.09vw;
  white-space: nowrap;
  width: 5.3vw;
}

.thanks-2 .icon-material-contact-mail-pjSCtz {
  background-color: transparent;
  height: 2.1vw;
  object-fit: cover;
  position: absolute;
  right: 1.01vw;
  top: 0.47vw;
  width: 2.81vw;
}

.thanks-2 .thank-you-for-your-m-EiuExx {
  background-color: transparent;
  height: 3.12vw;
  letter-spacing: 0.0vw;
  line-height: 1.25vw;
  position: absolute;
  right: calc(49.86% - 9.04vw);
  text-align: center;
  top: calc(37.20% - 1.17vw);
  white-space: nowrap;
  width: 18.08vw;
}

.thanks-2 .giphy-EiuExx {
  background-color: transparent;
  bottom: calc(41.57% - 4.75vw);
  height: 11.46vw;
  left: calc(50.00% - 5.77vw);
  overflow: hidden;
  position: absolute;
  width: 11.46vw;
}

.thanks-2 .rectangle-2 {
  background-color: var(--kilamanjaro);
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.thanks-2 .rectangle-3 {
  background-color: var(--aubergine);
  left: 0.0vw;
  position: absolute;
  width: 100%;
}
